<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Seguridad. 1. Requerimientos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Seguridad. 1. Requerimientos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0c529bbdd5674f7b990738a9d12f0da2.png" alt="Seguridad. 1. Requerimientos" usemap="#id-0c529bbdd5674f7b990738a9d12f0da2map"/>
			   <map name="id-0c529bbdd5674f7b990738a9d12f0da2map">
				          <area shape="rect" coords="20,20,454,284" href="../objects/id-e0eaa0d3e6e14bcdb127d86a61ef933f.html" target="element" >
				  		<area shape="rect" coords="36,572,228,682" href="../elements/id-5d9d1022e676411fb0ea9015457493fc.html"  target="element">
				  		<area shape="rect" coords="36,740,228,850" href="../elements/id-878aba926a3843c2a1d7330a5fc35e1f.html"  target="element">
				  		<area shape="rect" coords="36,908,228,1018" href="../elements/id-64b6c54d6037425dafce4fcc1eec99c3.html"  target="element">
				  		<area shape="rect" coords="396,740,590,850" href="../elements/id-e9e9de0431f3499f8d73621862aee6ad.html"  target="element">
				  		<area shape="rect" coords="620,740,934,850" href="../elements/id-098d16be4183426e816b8ad2714c11cc.html"  target="element">
				  		<area shape="rect" coords="180,500,454,1102" href="../elements/id-c7b52dad823d406fbd54979c21119276.html"  target="element">
				  				<area shape="rect" coords="1496,1484,1736,1594" href="../elements/id-0ded3f9c85ac4b97a3c3aa4a2589abc8.html"  target="element">
				  				<area shape="rect" coords="1796,1626,2036,1736" href="../elements/id-df453c93695b40e0b04dbe46e6b1c333.html"  target="element">
				  				<area shape="rect" coords="1478,1626,1718,1736" href="../elements/id-1a9e79b1aad549d289525c9775111d1f.html"  target="element">
				  				<area shape="rect" coords="1796,1484,2036,1594" href="../elements/id-6a6ad6019ff641158a59c4a3e49604b8.html"  target="element">
				  				<area shape="rect" coords="1196,1484,1436,1594" href="../elements/id-7ea892830cf34b469fc4c22cdbe17dfb.html"  target="element">
				  				<area shape="rect" coords="1196,828,1436,938" href="../elements/id-a3b440479eff4d328224c3caa3d39763.html"  target="element">
				  				<area shape="rect" coords="1196,692,1436,802" href="../elements/id-4108e57952b34d1d88cb742db89bfd6c.html"  target="element">
				  				<area shape="rect" coords="1496,1100,1736,1210" href="../elements/id-5ecb903a7c26492d8c83c563ea4cdba6.html"  target="element">
				  				<area shape="rect" coords="1196,1236,1436,1346" href="../elements/id-78f123371d62490bb1ec76d300a7dcb9.html"  target="element">
				  				<area shape="rect" coords="1796,1236,2036,1346" href="../elements/id-b6433656717c4dc39f8eaae4a424131b.html"  target="element">
				  				<area shape="rect" coords="1796,692,2036,802" href="../elements/id-d178e8cbf9eb49409217e2e159b352ef.html"  target="element">
				  				<area shape="rect" coords="1196,956,1436,1066" href="../elements/id-479d8c16be734c18ba6d8ef71a6b628f.html"  target="element">
				  				<area shape="rect" coords="1796,1100,2036,1210" href="../elements/id-75be609fadfb40a981cd9325a500d67a.html"  target="element">
				  				<area shape="rect" coords="1496,1236,1736,1346" href="../elements/id-89a0e262022b4cc6863feeb666283d1d.html"  target="element">
				  				<area shape="rect" coords="1496,956,1736,1066" href="../elements/id-fc43655ebb2d46e89ebcff364f72c5c6.html"  target="element">
				  				<area shape="rect" coords="1496,572,1736,682" href="../elements/id-10edf1457a8f4240812db90216130aae.html"  target="element">
				  				<area shape="rect" coords="1496,1364,1736,1474" href="../elements/id-a374be7330bc40b1b4aca5ec36f5f337.html"  target="element">
				  				<area shape="rect" coords="1496,692,1736,802" href="../elements/id-30d18325d7b2431a908e23bac5a8d5e7.html"  target="element">
				  				<area shape="rect" coords="1796,1364,2036,1474" href="../elements/id-3657bfe3310e4d848b11544c66a98aa4.html"  target="element">
				  				<area shape="rect" coords="1196,1100,1436,1210" href="../elements/id-5efe0efb856c4ace94d61f0d33bf28f3.html"  target="element">
				  				<area shape="rect" coords="1196,572,1436,682" href="../elements/id-b33000e6fc7d4622b189d9d823670299.html"  target="element">
				  				<area shape="rect" coords="1796,956,2036,1066" href="../elements/id-78a12ee526c74b7fb3856002b8c32e98.html"  target="element">
				  				<area shape="rect" coords="1496,828,1736,938" href="../elements/id-4d839cc5f24b47e5b573c9aef3c6375e.html"  target="element">
				  				<area shape="rect" coords="1796,572,2036,682" href="../elements/id-b9e52dd1be204cbb9d61776166203c0b.html"  target="element">
				  				<area shape="rect" coords="1796,828,2036,938" href="../elements/id-d1a6b80e7a6c4538b922f333f4d7ec7a.html"  target="element">
				  				<area shape="rect" coords="1196,1364,1436,1474" href="../elements/id-16c36977d0734caba95a71679759a8bb.html"  target="element">

				  		<area shape="rect" coords="1124,500,2182,1844" href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
											    <td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-16c36977d0734caba95a71679759a8bb.html" target="element"> RQRSEG7 </a> </td>
													    <td> <a href="../elements/id-16c36977d0734caba95a71679759a8bb.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d1a6b80e7a6c4538b922f333f4d7ec7a.html" target="element"> RQRSEG18 </a> </td>
													    <td> <a href="../elements/id-d1a6b80e7a6c4538b922f333f4d7ec7a.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b9e52dd1be204cbb9d61776166203c0b.html" target="element"> RQRSEG18 </a> </td>
													    <td> <a href="../elements/id-b9e52dd1be204cbb9d61776166203c0b.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4d839cc5f24b47e5b573c9aef3c6375e.html" target="element"> RQRSEG17 </a> </td>
													    <td> <a href="../elements/id-4d839cc5f24b47e5b573c9aef3c6375e.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-78a12ee526c74b7fb3856002b8c32e98.html" target="element"> RQRSEG21 </a> </td>
													    <td> <a href="../elements/id-78a12ee526c74b7fb3856002b8c32e98.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b33000e6fc7d4622b189d9d823670299.html" target="element"> RQRSEG1 </a> </td>
													    <td> <a href="../elements/id-b33000e6fc7d4622b189d9d823670299.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5efe0efb856c4ace94d61f0d33bf28f3.html" target="element"> RQRSEG22 </a> </td>
													    <td> <a href="../elements/id-5efe0efb856c4ace94d61f0d33bf28f3.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3657bfe3310e4d848b11544c66a98aa4.html" target="element"> RQRSEG9 </a> </td>
													    <td> <a href="../elements/id-3657bfe3310e4d848b11544c66a98aa4.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30d18325d7b2431a908e23bac5a8d5e7.html" target="element"> RQRSEG13 </a> </td>
													    <td> <a href="../elements/id-30d18325d7b2431a908e23bac5a8d5e7.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a374be7330bc40b1b4aca5ec36f5f337.html" target="element"> RQRSEG8 </a> </td>
													    <td> <a href="../elements/id-a374be7330bc40b1b4aca5ec36f5f337.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-10edf1457a8f4240812db90216130aae.html" target="element"> RQRSEG10 </a> </td>
													    <td> <a href="../elements/id-10edf1457a8f4240812db90216130aae.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fc43655ebb2d46e89ebcff364f72c5c6.html" target="element"> RQRSEG2 </a> </td>
													    <td> <a href="../elements/id-fc43655ebb2d46e89ebcff364f72c5c6.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-89a0e262022b4cc6863feeb666283d1d.html" target="element"> RQRSEG5 </a> </td>
													    <td> <a href="../elements/id-89a0e262022b4cc6863feeb666283d1d.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-75be609fadfb40a981cd9325a500d67a.html" target="element"> RQRSEG3 </a> </td>
													    <td> <a href="../elements/id-75be609fadfb40a981cd9325a500d67a.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-479d8c16be734c18ba6d8ef71a6b628f.html" target="element"> RQRSEG19 </a> </td>
													    <td> <a href="../elements/id-479d8c16be734c18ba6d8ef71a6b628f.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d178e8cbf9eb49409217e2e159b352ef.html" target="element"> RQRSEG15 </a> </td>
													    <td> <a href="../elements/id-d178e8cbf9eb49409217e2e159b352ef.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b6433656717c4dc39f8eaae4a424131b.html" target="element"> RQRSEG6 </a> </td>
													    <td> <a href="../elements/id-b6433656717c4dc39f8eaae4a424131b.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-78f123371d62490bb1ec76d300a7dcb9.html" target="element"> RQRSEG4 </a> </td>
													    <td> <a href="../elements/id-78f123371d62490bb1ec76d300a7dcb9.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5ecb903a7c26492d8c83c563ea4cdba6.html" target="element"> RQRSEG24 </a> </td>
													    <td> <a href="../elements/id-5ecb903a7c26492d8c83c563ea4cdba6.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4108e57952b34d1d88cb742db89bfd6c.html" target="element"> RQRSEG12 </a> </td>
													    <td> <a href="../elements/id-4108e57952b34d1d88cb742db89bfd6c.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a3b440479eff4d328224c3caa3d39763.html" target="element"> RQRSEG16 </a> </td>
													    <td> <a href="../elements/id-a3b440479eff4d328224c3caa3d39763.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ea892830cf34b469fc4c22cdbe17dfb.html" target="element"> RQRSEG26 </a> </td>
													    <td> <a href="../elements/id-7ea892830cf34b469fc4c22cdbe17dfb.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a6ad6019ff641158a59c4a3e49604b8.html" target="element"> RQRSEG28 </a> </td>
													    <td> <a href="../elements/id-6a6ad6019ff641158a59c4a3e49604b8.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1a9e79b1aad549d289525c9775111d1f.html" target="element"> RQRSEG25 </a> </td>
													    <td> <a href="../elements/id-1a9e79b1aad549d289525c9775111d1f.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-df453c93695b40e0b04dbe46e6b1c333.html" target="element"> RQRSEG29 </a> </td>
													    <td> <a href="../elements/id-df453c93695b40e0b04dbe46e6b1c333.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ded3f9c85ac4b97a3c3aa4a2589abc8.html" target="element"> RQRSEG27 </a> </td>
													    <td> <a href="../elements/id-0ded3f9c85ac4b97a3c3aa4a2589abc8.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element"> cc:PGN SUI (misional) </a> </td>
											    <td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-098d16be4183426e816b8ad2714c11cc.html" target="element"> cc:Administraci&#243;n </a> </td>
											    <td> <a href="../elements/id-098d16be4183426e816b8ad2714c11cc.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e9e9de0431f3499f8d73621862aee6ad.html" target="element"> interfaz </a> </td>
											    <td> <a href="../elements/id-e9e9de0431f3499f8d73621862aee6ad.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-64b6c54d6037425dafce4fcc1eec99c3.html" target="element"> interfaz </a> </td>
											    <td> <a href="../elements/id-64b6c54d6037425dafce4fcc1eec99c3.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-878aba926a3843c2a1d7330a5fc35e1f.html" target="element"> interfaz </a> </td>
											    <td> <a href="../elements/id-878aba926a3843c2a1d7330a5fc35e1f.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d9d1022e676411fb0ea9015457493fc.html" target="element"> interfaz </a> </td>
											    <td> <a href="../elements/id-5d9d1022e676411fb0ea9015457493fc.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-e0eaa0d3e6e14bcdb127d86a61ef933f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e0eaa0d3e6e14bcdb127d86a61ef933f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-298d03e40cba492b946eae3b215d788b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-298d03e40cba492b946eae3b215d788b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element"> cc:PGN SUI (misional) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1bf49928b14747d99ede1b0808b366ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1bf49928b14747d99ede1b0808b366ba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-098d16be4183426e816b8ad2714c11cc.html" target="element"> cc:Administraci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64f177914e0745919bd9c7f035ea5fff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64f177914e0745919bd9c7f035ea5fff.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-16c36977d0734caba95a71679759a8bb.html" target="element"> RQRSEG7 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-88b65599e28c4451ad83f98da5f428a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88b65599e28c4451ad83f98da5f428a8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-d1a6b80e7a6c4538b922f333f4d7ec7a.html" target="element"> RQRSEG18 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6d0c2211c13b465b8643ef9fa965d778.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d0c2211c13b465b8643ef9fa965d778.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-b9e52dd1be204cbb9d61776166203c0b.html" target="element"> RQRSEG18 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2fd5e2db2484550b14ecf6b1cfae590.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2fd5e2db2484550b14ecf6b1cfae590.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-4d839cc5f24b47e5b573c9aef3c6375e.html" target="element"> RQRSEG17 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-feeb5fca1b8140a3aae26f32842a4a97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-feeb5fca1b8140a3aae26f32842a4a97.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-78a12ee526c74b7fb3856002b8c32e98.html" target="element"> RQRSEG21 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0313827885d94a97b555e943e9c38e66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0313827885d94a97b555e943e9c38e66.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-b33000e6fc7d4622b189d9d823670299.html" target="element"> RQRSEG1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-65dd59adb04448c99d12857adf6475a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65dd59adb04448c99d12857adf6475a6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-5efe0efb856c4ace94d61f0d33bf28f3.html" target="element"> RQRSEG22 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a21b60fc8573459da5e563a283ea0506.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a21b60fc8573459da5e563a283ea0506.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-3657bfe3310e4d848b11544c66a98aa4.html" target="element"> RQRSEG9 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b9c960193404b12b4348acd3c5e60f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b9c960193404b12b4348acd3c5e60f7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-30d18325d7b2431a908e23bac5a8d5e7.html" target="element"> RQRSEG13 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7a9305738f84e4bb5d98566a5553463.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7a9305738f84e4bb5d98566a5553463.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-a374be7330bc40b1b4aca5ec36f5f337.html" target="element"> RQRSEG8 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cbf5d6775a7248bcaa6cea4f589c7398.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbf5d6775a7248bcaa6cea4f589c7398.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-10edf1457a8f4240812db90216130aae.html" target="element"> RQRSEG10 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-026bd87c51ad4d26bf6a8e91a2e7f010.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-026bd87c51ad4d26bf6a8e91a2e7f010.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-fc43655ebb2d46e89ebcff364f72c5c6.html" target="element"> RQRSEG2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b8ba4a1acbe455e80cb3070b589f218.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b8ba4a1acbe455e80cb3070b589f218.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-89a0e262022b4cc6863feeb666283d1d.html" target="element"> RQRSEG5 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0976eac44dfe4dccadbec2e9b6e1b493.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0976eac44dfe4dccadbec2e9b6e1b493.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-75be609fadfb40a981cd9325a500d67a.html" target="element"> RQRSEG3 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0655c30d5e2843b081a567bc077161d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0655c30d5e2843b081a567bc077161d0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-479d8c16be734c18ba6d8ef71a6b628f.html" target="element"> RQRSEG19 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d08a977674ac4acd873ffe759a6ea6d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d08a977674ac4acd873ffe759a6ea6d9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-d178e8cbf9eb49409217e2e159b352ef.html" target="element"> RQRSEG15 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-abf368be755a462b90d1dcb540141cc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-abf368be755a462b90d1dcb540141cc4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-b6433656717c4dc39f8eaae4a424131b.html" target="element"> RQRSEG6 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd9f1b2fe84442f9870d02c1e5e784cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd9f1b2fe84442f9870d02c1e5e784cf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-78f123371d62490bb1ec76d300a7dcb9.html" target="element"> RQRSEG4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c57a3564955482abc8286e14726c392.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c57a3564955482abc8286e14726c392.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-5ecb903a7c26492d8c83c563ea4cdba6.html" target="element"> RQRSEG24 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b994bbab4c4424e96c6168b15a23935.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b994bbab4c4424e96c6168b15a23935.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-4108e57952b34d1d88cb742db89bfd6c.html" target="element"> RQRSEG12 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-36365ff833b54a8695e4ae1af7bf83ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36365ff833b54a8695e4ae1af7bf83ed.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-a3b440479eff4d328224c3caa3d39763.html" target="element"> RQRSEG16 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b35d10fbc6e44e95b1e59f1fcb695bd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b35d10fbc6e44e95b1e59f1fcb695bd7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-7ea892830cf34b469fc4c22cdbe17dfb.html" target="element"> RQRSEG26 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3206c1efa1be44ff9b02c512dcf43c7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3206c1efa1be44ff9b02c512dcf43c7e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-6a6ad6019ff641158a59c4a3e49604b8.html" target="element"> RQRSEG28 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-403ca425de4f42c88d287d9205ada8a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-403ca425de4f42c88d287d9205ada8a9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-1a9e79b1aad549d289525c9775111d1f.html" target="element"> RQRSEG25 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47ca1e0a2afc4b4fa325e237ef6a6a28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47ca1e0a2afc4b4fa325e237ef6a6a28.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-df453c93695b40e0b04dbe46e6b1c333.html" target="element"> RQRSEG29 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0229c6aebe0a464994093e508ad5601f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0229c6aebe0a464994093e508ad5601f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-0ded3f9c85ac4b97a3c3aa4a2589abc8.html" target="element"> RQRSEG27 </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>