<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Organización. 2n.1. Mapa producto PGN. Conciliacion</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Organizaci&#243;n. 2n.1. Mapa producto PGN. Conciliacion</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-125d1b49b13f492ca225313c1b544613.png" alt="Organización. 2n.1. Mapa producto PGN. Conciliacion" usemap="#id-125d1b49b13f492ca225313c1b544613map"/>
			   <map name="id-125d1b49b13f492ca225313c1b544613map">
				  		<area shape="rect" coords="2498,20,2772,130" href="../elements/id-054e649bfce8494984ce2025721da879.html"  target="element">
				  		<area shape="rect" coords="2210,20,2484,130" href="../elements/id-f97192ab1ef8437a831e5ae3d06a421d.html"  target="element">
				  		<area shape="rect" coords="1922,20,2196,130" href="../elements/id-610a1263e8f54eaba4d0bb91adbf8d83.html"  target="element">
				  		<area shape="rect" coords="1642,20,1916,130" href="../elements/id-a5a4035df4254599af74eb1718f85061.html"  target="element">
				  		<area shape="rect" coords="1356,20,1630,130" href="../elements/id-08b8a762f6514198a838e7bacce5358c.html"  target="element">
				  		<area shape="rect" coords="1076,20,1350,130" href="../elements/id-e3581426646a4763a2ed57326a9b6695.html"  target="element">
				  		<area shape="rect" coords="782,20,1056,130" href="../elements/id-73706c64ec3a43b4a5db066d90d6808d.html"  target="element">
				  		<area shape="rect" coords="2498,1700,2772,1810" href="../elements/id-054e649bfce8494984ce2025721da879.html"  target="element">
				  		<area shape="rect" coords="2210,1700,2484,1810" href="../elements/id-f97192ab1ef8437a831e5ae3d06a421d.html"  target="element">
				  		<area shape="rect" coords="1922,1700,2196,1810" href="../elements/id-610a1263e8f54eaba4d0bb91adbf8d83.html"  target="element">
				  		<area shape="rect" coords="1642,1700,1916,1810" href="../elements/id-a5a4035df4254599af74eb1718f85061.html"  target="element">
				  		<area shape="rect" coords="1356,1700,1630,1810" href="../elements/id-08b8a762f6514198a838e7bacce5358c.html"  target="element">
				  		<area shape="rect" coords="1076,1700,1350,1810" href="../elements/id-e3581426646a4763a2ed57326a9b6695.html"  target="element">
				  		<area shape="rect" coords="788,1700,1062,1810" href="../elements/id-73706c64ec3a43b4a5db066d90d6808d.html"  target="element">
				  		<area shape="rect" coords="790,860,1630,970" href="../elements/id-ffbae2c3253f416f840bf99fe053d8fa.html"  target="element">
				  		<area shape="rect" coords="790,1532,1344,1642" href="../elements/id-a4c9948f57bb40c79dd3df4e076424dd.html"  target="element">
				  		<area shape="rect" coords="1922,1412,2196,1522" href="../elements/id-b1439d0e3d514667841a84c0aae02924.html"  target="element">
				  		<area shape="rect" coords="1636,1292,2196,1402" href="../elements/id-b6e4dd4912344a78a0104ea1a8c72906.html"  target="element">
				  		<area shape="rect" coords="782,1292,1630,1402" href="../elements/id-d155a9d7e59044c58be983c0e2c29f4c.html"  target="element">
				  		<area shape="rect" coords="1070,1172,1344,1282" href="../elements/id-af3bddacea7949b581d200bee209b6d1.html"  target="element">
				  		<area shape="rect" coords="1356,1172,1630,1282" href="../elements/id-bccc838de4bb43659223cbf3cad30170.html"  target="element">
				  		<area shape="rect" coords="782,1172,1056,1282" href="../elements/id-4aaa3080163e4b6e8ece0d8f2730632c.html"  target="element">
				  		<area shape="rect" coords="1636,380,2196,490" href="../elements/id-502080bc48e04747af1bfb2f259a6542.html"  target="element">
				  		<area shape="rect" coords="1916,500,2190,610" href="../elements/id-68a461428b0b4026b8e7f82bb4fcb288.html"  target="element">
				  		<area shape="rect" coords="788,620,1062,730" href="../elements/id-01a970b979484a22aa67db8025bf15f0.html"  target="element">
				  		<area shape="rect" coords="1070,188,1344,298" href="../elements/id-120b14cecd9743f280d48a1b22cc75b9.html"  target="element">
				  		<area shape="rect" coords="788,500,1062,610" href="../elements/id-f0c4653d36174b4e80ceb97ebfa5e647.html"  target="element">
				  		<area shape="rect" coords="1922,620,2196,730" href="../elements/id-62cefece00694b3abf0e3f9d55d21897.html"  target="element">
				  		<area shape="rect" coords="1642,620,1916,730" href="../elements/id-9db24210d1624d37a64a993a377e54aa.html"  target="element">
				  		<area shape="rect" coords="1356,980,1630,1090" href="../elements/id-cdb41fa9696442899e18083ff4d1b159.html"  target="element">
				  		<area shape="rect" coords="1070,620,1344,730" href="../elements/id-1fc87d394a534aa28e97f954253ebac6.html"  target="element">
				  		<area shape="rect" coords="788,380,1062,490" href="../elements/id-b3b555f10f5749e2bff1d4f066a5bd57.html"  target="element">
				  		<area shape="rect" coords="1356,620,1630,730" href="../elements/id-f2ebecb2dba44ec5b1bff1a215cf3445.html"  target="element">
				  		<area shape="rect" coords="790,740,1630,850" href="../elements/id-eedcc9a81f674e2683c8ad5e272ee6f9.html"  target="element">
				  		<area shape="rect" coords="1356,188,1630,298" href="../elements/id-194b25572149454596d16f329504e48c.html"  target="element">
				  		<area shape="rect" coords="2210,188,2484,298" href="../elements/id-b5eab6a056c743c79ba62ad939f1046d.html"  target="element">
				  		<area shape="rect" coords="1748,188,2022,298" href="../elements/id-e0bd9469b18b42a182243dc9ca86e9be.html"  target="element">
				  		<area shape="rect" coords="2498,188,2772,298" href="../elements/id-34d489480d894c138048925ff38ec4ed.html"  target="element">
				  		<area shape="rect" coords="788,188,1062,298" href="../elements/id-d6cd523d8e504703b9f7034df225434d.html"  target="element">
				  		<area shape="rect" coords="1916,1532,2190,1642" href="../elements/id-582e78000e60408b8623ae7368f2aac9.html"  target="element">
				  		<area shape="rect" coords="1636,1412,1910,1522" href="../elements/id-ee50dfecf822405db4dd19116e3fc7b4.html"  target="element">
				  		<area shape="rect" coords="1356,1412,1630,1522" href="../elements/id-0d90f6b9a0394dcc9c6f1f907bc8d80d.html"  target="element">
				          <area shape="rect" coords="20,20,670,356" href="../objects/id-257236f9de604b82b22aef1fa767c8b3.html" target="element" >
				  				<area shape="rect" coords="380,1124,620,1234" href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html"  target="element">
				  				<area shape="rect" coords="380,812,620,922" href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html"  target="element">
				  				<area shape="rect" coords="50,646,324,756" href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html"  target="element">
				  				<area shape="rect" coords="380,980,620,1090" href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html"  target="element">
				  				<area shape="rect" coords="68,500,308,610" href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html"  target="element">

				  		<area shape="rect" coords="20,428,670,1270" href="../elements/id-2a2fa7443e34433880e94f897e75d453.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
											    <td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element"> Hitos mercado </a> </td>
													    <td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
													    <td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
													    <td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
													    <td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element"> Deliverable: (tiempo) </a> </td>
													    <td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-257236f9de604b82b22aef1fa767c8b3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-257236f9de604b82b22aef1fa767c8b3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-0d90f6b9a0394dcc9c6f1f907bc8d80d.html" target="element"> Componente de autenticaci&#243;n SIU </a> </td>
											    <td> <a href="../elements/id-0d90f6b9a0394dcc9c6f1f907bc8d80d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee50dfecf822405db4dd19116e3fc7b4.html" target="element"> Componente de autorizaci&#243;n SIU </a> </td>
											    <td> <a href="../elements/id-ee50dfecf822405db4dd19116e3fc7b4.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-582e78000e60408b8623ae7368f2aac9.html" target="element"> Componente de  comunicaci&#243;n segura SIU </a> </td>
											    <td> <a href="../elements/id-582e78000e60408b8623ae7368f2aac9.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6cd523d8e504703b9f7034df225434d.html" target="element"> Flujo de trabajo Intervenci&#243;n. Conciliaci&#243;n v0.1 (copy) </a> </td>
											    <td> <a href="../elements/id-d6cd523d8e504703b9f7034df225434d.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34d489480d894c138048925ff38ec4ed.html" target="element"> Adopci&#243;n, v1.2 </a> </td>
											    <td> <a href="../elements/id-34d489480d894c138048925ff38ec4ed.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e0bd9469b18b42a182243dc9ca86e9be.html" target="element"> Gesti&#243;n de flujos. Conciliaci&#243;n 1.0 </a> </td>
											    <td> <a href="../elements/id-e0bd9469b18b42a182243dc9ca86e9be.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5eab6a056c743c79ba62ad939f1046d.html" target="element"> Despliegue Conciliaci&#243;n v1.2 </a> </td>
											    <td> <a href="../elements/id-b5eab6a056c743c79ba62ad939f1046d.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-194b25572149454596d16f329504e48c.html" target="element"> Flujo de trabajo Disciplinario. Conciliaci&#243;n v0.9 </a> </td>
											    <td> <a href="../elements/id-194b25572149454596d16f329504e48c.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eedcc9a81f674e2683c8ad5e272ee6f9.html" target="element"> Dise&#241;o de flujos de Conciliaci&#243;n </a> </td>
											    <td> <a href="../elements/id-eedcc9a81f674e2683c8ad5e272ee6f9.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f2ebecb2dba44ec5b1bff1a215cf3445.html" target="element"> Conciliaci&#243;n disciplinar </a> </td>
											    <td> <a href="../elements/id-f2ebecb2dba44ec5b1bff1a215cf3445.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b3b555f10f5749e2bff1d4f066a5bd57.html" target="element"> Conciliaci&#243;n administrativa </a> </td>
											    <td> <a href="../elements/id-b3b555f10f5749e2bff1d4f066a5bd57.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1fc87d394a534aa28e97f954253ebac6.html" target="element"> Conciliaci&#243;n preventivo </a> </td>
											    <td> <a href="../elements/id-1fc87d394a534aa28e97f954253ebac6.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cdb41fa9696442899e18083ff4d1b159.html" target="element"> Autenticaci&#243;n </a> </td>
											    <td> <a href="../elements/id-cdb41fa9696442899e18083ff4d1b159.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9db24210d1624d37a64a993a377e54aa.html" target="element"> Autorizaci&#243;n </a> </td>
											    <td> <a href="../elements/id-9db24210d1624d37a64a993a377e54aa.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62cefece00694b3abf0e3f9d55d21897.html" target="element"> Integridad </a> </td>
											    <td> <a href="../elements/id-62cefece00694b3abf0e3f9d55d21897.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f0c4653d36174b4e80ceb97ebfa5e647.html" target="element"> Conciliaci&#243;n civil </a> </td>
											    <td> <a href="../elements/id-f0c4653d36174b4e80ceb97ebfa5e647.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-120b14cecd9743f280d48a1b22cc75b9.html" target="element"> Flujo de trabajo Preventivo. Conciliaci&#243;n v0.7 </a> </td>
											    <td> <a href="../elements/id-120b14cecd9743f280d48a1b22cc75b9.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01a970b979484a22aa67db8025bf15f0.html" target="element"> Conciliaci&#243;n familia </a> </td>
											    <td> <a href="../elements/id-01a970b979484a22aa67db8025bf15f0.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-68a461428b0b4026b8e7f82bb4fcb288.html" target="element"> Informes de gesti&#243;n flujos </a> </td>
											    <td> <a href="../elements/id-68a461428b0b4026b8e7f82bb4fcb288.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-502080bc48e04747af1bfb2f259a6542.html" target="element"> Gesti&#243;n de instancias (flujos) </a> </td>
											    <td> <a href="../elements/id-502080bc48e04747af1bfb2f259a6542.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4aaa3080163e4b6e8ece0d8f2730632c.html" target="element"> Flujo de trabajo Intervenci&#243;n </a> </td>
											    <td> <a href="../elements/id-4aaa3080163e4b6e8ece0d8f2730632c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bccc838de4bb43659223cbf3cad30170.html" target="element"> Flujo de trabajo Disciplinar </a> </td>
											    <td> <a href="../elements/id-bccc838de4bb43659223cbf3cad30170.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af3bddacea7949b581d200bee209b6d1.html" target="element"> Flujo de trabajo  Preventico </a> </td>
											    <td> <a href="../elements/id-af3bddacea7949b581d200bee209b6d1.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d155a9d7e59044c58be983c0e2c29f4c.html" target="element"> Motor de flujo de trabajo </a> </td>
											    <td> <a href="../elements/id-d155a9d7e59044c58be983c0e2c29f4c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b6e4dd4912344a78a0104ea1a8c72906.html" target="element"> Panel de control flujos </a> </td>
											    <td> <a href="../elements/id-b6e4dd4912344a78a0104ea1a8c72906.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b1439d0e3d514667841a84c0aae02924.html" target="element"> Reporte flujos de trabajo </a> </td>
											    <td> <a href="../elements/id-b1439d0e3d514667841a84c0aae02924.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a4c9948f57bb40c79dd3df4e076424dd.html" target="element"> Integraci&#243;n API Dokus </a> </td>
											    <td> <a href="../elements/id-a4c9948f57bb40c79dd3df4e076424dd.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ffbae2c3253f416f840bf99fe053d8fa.html" target="element"> Gesti&#243;n documental </a> </td>
											    <td> <a href="../elements/id-ffbae2c3253f416f840bf99fe053d8fa.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-73706c64ec3a43b4a5db066d90d6808d.html" target="element"> Iteraci&#243;n 1 </a> </td>
											    <td> <a href="../elements/id-73706c64ec3a43b4a5db066d90d6808d.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3581426646a4763a2ed57326a9b6695.html" target="element"> Iteraci&#243;n 2 </a> </td>
											    <td> <a href="../elements/id-e3581426646a4763a2ed57326a9b6695.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-08b8a762f6514198a838e7bacce5358c.html" target="element"> Iteraci&#243;n 3 </a> </td>
											    <td> <a href="../elements/id-08b8a762f6514198a838e7bacce5358c.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5a4035df4254599af74eb1718f85061.html" target="element"> Iteraci&#243;n 4 </a> </td>
											    <td> <a href="../elements/id-a5a4035df4254599af74eb1718f85061.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-610a1263e8f54eaba4d0bb91adbf8d83.html" target="element"> Iteraci&#243;n 5 </a> </td>
											    <td> <a href="../elements/id-610a1263e8f54eaba4d0bb91adbf8d83.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f97192ab1ef8437a831e5ae3d06a421d.html" target="element"> Iteraci&#243;n 6 </a> </td>
											    <td> <a href="../elements/id-f97192ab1ef8437a831e5ae3d06a421d.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-054e649bfce8494984ce2025721da879.html" target="element"> Iteraci&#243;n 7 </a> </td>
											    <td> <a href="../elements/id-054e649bfce8494984ce2025721da879.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-73706c64ec3a43b4a5db066d90d6808d.html" target="element"> Iteraci&#243;n 1 </a> </td>
											    <td> <a href="../elements/id-73706c64ec3a43b4a5db066d90d6808d.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3581426646a4763a2ed57326a9b6695.html" target="element"> Iteraci&#243;n 2 </a> </td>
											    <td> <a href="../elements/id-e3581426646a4763a2ed57326a9b6695.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-08b8a762f6514198a838e7bacce5358c.html" target="element"> Iteraci&#243;n 3 </a> </td>
											    <td> <a href="../elements/id-08b8a762f6514198a838e7bacce5358c.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5a4035df4254599af74eb1718f85061.html" target="element"> Iteraci&#243;n 4 </a> </td>
											    <td> <a href="../elements/id-a5a4035df4254599af74eb1718f85061.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-610a1263e8f54eaba4d0bb91adbf8d83.html" target="element"> Iteraci&#243;n 5 </a> </td>
											    <td> <a href="../elements/id-610a1263e8f54eaba4d0bb91adbf8d83.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f97192ab1ef8437a831e5ae3d06a421d.html" target="element"> Iteraci&#243;n 6 </a> </td>
											    <td> <a href="../elements/id-f97192ab1ef8437a831e5ae3d06a421d.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-054e649bfce8494984ce2025721da879.html" target="element"> Iteraci&#243;n 7 </a> </td>
											    <td> <a href="../elements/id-054e649bfce8494984ce2025721da879.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-70374170d8034734bfc3935e37663ae4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70374170d8034734bfc3935e37663ae4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element"> Hitos mercado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-01647cc9611443d4b6560350ae121e3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01647cc9611443d4b6560350ae121e3d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd0dbd1bc258471eb6cd9fbd0be6bf4d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd0dbd1bc258471eb6cd9fbd0be6bf4d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a33d8c728634429b6edc179f6930238.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a33d8c728634429b6edc179f6930238.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c279c61a2004c1d8ebfafa98b7c4a3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c279c61a2004c1d8ebfafa98b7c4a3e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element"> Deliverable: (tiempo) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-343f93f73aa045aab8142e798b196a3a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-343f93f73aa045aab8142e798b196a3a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
																				<td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-74befda8ee304433913f9c4a89d7cac1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74befda8ee304433913f9c4a89d7cac1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
																				<td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element"> Deliverable: (tiempo) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-416b841c639d458daf234e04adf1998b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-416b841c639d458daf234e04adf1998b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
																				<td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element"> Hitos mercado </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a76dea6c04c144d2ae0d087b95207db6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a76dea6c04c144d2ae0d087b95207db6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
																				<td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-3c9554fb7c1b4079911eed44d6ba62be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c9554fb7c1b4079911eed44d6ba62be.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d90f6b9a0394dcc9c6f1f907bc8d80d.html" target="element"> Componente de autenticaci&#243;n SIU </a> </td>
																		<td> <a href="../elements/id-cdb41fa9696442899e18083ff4d1b159.html" target="element"> Autenticaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7248e65c42ea4dcdac54cb8d61007ce5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7248e65c42ea4dcdac54cb8d61007ce5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ee50dfecf822405db4dd19116e3fc7b4.html" target="element"> Componente de autorizaci&#243;n SIU </a> </td>
																		<td> <a href="../elements/id-9db24210d1624d37a64a993a377e54aa.html" target="element"> Autorizaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3c5e18729ee247cbab9bb3af5bc8630e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c5e18729ee247cbab9bb3af5bc8630e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-582e78000e60408b8623ae7368f2aac9.html" target="element"> Componente de  comunicaci&#243;n segura SIU </a> </td>
																		<td> <a href="../elements/id-62cefece00694b3abf0e3f9d55d21897.html" target="element"> Integridad </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8adf65f43a47497795295a90eb09bd4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8adf65f43a47497795295a90eb09bd4b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eedcc9a81f674e2683c8ad5e272ee6f9.html" target="element"> Dise&#241;o de flujos de Conciliaci&#243;n </a> </td>
																		<td> <a href="../elements/id-d6cd523d8e504703b9f7034df225434d.html" target="element"> Flujo de trabajo Intervenci&#243;n. Conciliaci&#243;n v0.1 (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7c424a15133e469b962743a9985b8af2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c424a15133e469b962743a9985b8af2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eedcc9a81f674e2683c8ad5e272ee6f9.html" target="element"> Dise&#241;o de flujos de Conciliaci&#243;n </a> </td>
																		<td> <a href="../elements/id-120b14cecd9743f280d48a1b22cc75b9.html" target="element"> Flujo de trabajo Preventivo. Conciliaci&#243;n v0.7 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3dff2885e52e4ff28e9af4d9536ea8b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3dff2885e52e4ff28e9af4d9536ea8b8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eedcc9a81f674e2683c8ad5e272ee6f9.html" target="element"> Dise&#241;o de flujos de Conciliaci&#243;n </a> </td>
																		<td> <a href="../elements/id-194b25572149454596d16f329504e48c.html" target="element"> Flujo de trabajo Disciplinario. Conciliaci&#243;n v0.9 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f09d96d39c0b40e1ad31c8225fabc90a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f09d96d39c0b40e1ad31c8225fabc90a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3b555f10f5749e2bff1d4f066a5bd57.html" target="element"> Conciliaci&#243;n administrativa </a> </td>
																		<td> <a href="../elements/id-d6cd523d8e504703b9f7034df225434d.html" target="element"> Flujo de trabajo Intervenci&#243;n. Conciliaci&#243;n v0.1 (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a77c3a98c16e45bfb41a350cab8fdd1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a77c3a98c16e45bfb41a350cab8fdd1f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0c4653d36174b4e80ceb97ebfa5e647.html" target="element"> Conciliaci&#243;n civil </a> </td>
																		<td> <a href="../elements/id-d6cd523d8e504703b9f7034df225434d.html" target="element"> Flujo de trabajo Intervenci&#243;n. Conciliaci&#243;n v0.1 (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4723dd08f78e49ba8df9cc111aa6d74b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4723dd08f78e49ba8df9cc111aa6d74b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-01a970b979484a22aa67db8025bf15f0.html" target="element"> Conciliaci&#243;n familia </a> </td>
																		<td> <a href="../elements/id-d6cd523d8e504703b9f7034df225434d.html" target="element"> Flujo de trabajo Intervenci&#243;n. Conciliaci&#243;n v0.1 (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-616ab64e8c5148d398865b9aeb3ee4f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-616ab64e8c5148d398865b9aeb3ee4f0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4aaa3080163e4b6e8ece0d8f2730632c.html" target="element"> Flujo de trabajo Intervenci&#243;n </a> </td>
																		<td> <a href="../elements/id-b3b555f10f5749e2bff1d4f066a5bd57.html" target="element"> Conciliaci&#243;n administrativa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c54ef7b9a38d49b2b4ed93aafcc6a14a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c54ef7b9a38d49b2b4ed93aafcc6a14a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4aaa3080163e4b6e8ece0d8f2730632c.html" target="element"> Flujo de trabajo Intervenci&#243;n </a> </td>
																		<td> <a href="../elements/id-f0c4653d36174b4e80ceb97ebfa5e647.html" target="element"> Conciliaci&#243;n civil </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8a9b8dd8857a4afda22ed472569489aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a9b8dd8857a4afda22ed472569489aa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4aaa3080163e4b6e8ece0d8f2730632c.html" target="element"> Flujo de trabajo Intervenci&#243;n </a> </td>
																		<td> <a href="../elements/id-01a970b979484a22aa67db8025bf15f0.html" target="element"> Conciliaci&#243;n familia </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-866b365a9f004f4a89d86397f89a1126.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-866b365a9f004f4a89d86397f89a1126.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bccc838de4bb43659223cbf3cad30170.html" target="element"> Flujo de trabajo Disciplinar </a> </td>
																		<td> <a href="../elements/id-f2ebecb2dba44ec5b1bff1a215cf3445.html" target="element"> Conciliaci&#243;n disciplinar </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-15c58c4ac7de465b84ea87961130725a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15c58c4ac7de465b84ea87961130725a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-af3bddacea7949b581d200bee209b6d1.html" target="element"> Flujo de trabajo  Preventico </a> </td>
																		<td> <a href="../elements/id-1fc87d394a534aa28e97f954253ebac6.html" target="element"> Conciliaci&#243;n preventivo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dbbd2cde38064d1c84edd206377f092d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dbbd2cde38064d1c84edd206377f092d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d155a9d7e59044c58be983c0e2c29f4c.html" target="element"> Motor de flujo de trabajo </a> </td>
																		<td> <a href="../elements/id-eedcc9a81f674e2683c8ad5e272ee6f9.html" target="element"> Dise&#241;o de flujos de Conciliaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-39893a5fd3ce45deb3643285339f4eb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39893a5fd3ce45deb3643285339f4eb1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b6e4dd4912344a78a0104ea1a8c72906.html" target="element"> Panel de control flujos </a> </td>
																		<td> <a href="../elements/id-502080bc48e04747af1bfb2f259a6542.html" target="element"> Gesti&#243;n de instancias (flujos) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dcbeec1342af4e99871472a00f3e0997.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dcbeec1342af4e99871472a00f3e0997.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b1439d0e3d514667841a84c0aae02924.html" target="element"> Reporte flujos de trabajo </a> </td>
																		<td> <a href="../elements/id-68a461428b0b4026b8e7f82bb4fcb288.html" target="element"> Informes de gesti&#243;n flujos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cb6383ce6eec4f47ad866c56ab71e384.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb6383ce6eec4f47ad866c56ab71e384.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a4c9948f57bb40c79dd3df4e076424dd.html" target="element"> Integraci&#243;n API Dokus </a> </td>
																		<td> <a href="../elements/id-ffbae2c3253f416f840bf99fe053d8fa.html" target="element"> Gesti&#243;n documental </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-59aec923334c475796acd33f6687875a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59aec923334c475796acd33f6687875a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73706c64ec3a43b4a5db066d90d6808d.html" target="element"> Iteraci&#243;n 1 </a> </td>
																		<td> <a href="../elements/id-4aaa3080163e4b6e8ece0d8f2730632c.html" target="element"> Flujo de trabajo Intervenci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4417e35ba9b341bbbd9838faf65e7d7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4417e35ba9b341bbbd9838faf65e7d7a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73706c64ec3a43b4a5db066d90d6808d.html" target="element"> Iteraci&#243;n 1 </a> </td>
																		<td> <a href="../elements/id-d155a9d7e59044c58be983c0e2c29f4c.html" target="element"> Motor de flujo de trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-66e86939cd5b4a21842e5f2f6907433f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66e86939cd5b4a21842e5f2f6907433f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73706c64ec3a43b4a5db066d90d6808d.html" target="element"> Iteraci&#243;n 1 </a> </td>
																		<td> <a href="../elements/id-a4c9948f57bb40c79dd3df4e076424dd.html" target="element"> Integraci&#243;n API Dokus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4fcd1de7c7d74fa7ac06bcd19d0b43dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4fcd1de7c7d74fa7ac06bcd19d0b43dd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3581426646a4763a2ed57326a9b6695.html" target="element"> Iteraci&#243;n 2 </a> </td>
																		<td> <a href="../elements/id-af3bddacea7949b581d200bee209b6d1.html" target="element"> Flujo de trabajo  Preventico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca8c8beeb6844a65a55d48ce1c1fee04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca8c8beeb6844a65a55d48ce1c1fee04.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3581426646a4763a2ed57326a9b6695.html" target="element"> Iteraci&#243;n 2 </a> </td>
																		<td> <a href="../elements/id-d155a9d7e59044c58be983c0e2c29f4c.html" target="element"> Motor de flujo de trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b5c7d2cd456f4912851700dc264c6339.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5c7d2cd456f4912851700dc264c6339.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3581426646a4763a2ed57326a9b6695.html" target="element"> Iteraci&#243;n 2 </a> </td>
																		<td> <a href="../elements/id-a4c9948f57bb40c79dd3df4e076424dd.html" target="element"> Integraci&#243;n API Dokus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d96d3f9ddd924185add60efc92c3d5c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d96d3f9ddd924185add60efc92c3d5c2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08b8a762f6514198a838e7bacce5358c.html" target="element"> Iteraci&#243;n 3 </a> </td>
																		<td> <a href="../elements/id-bccc838de4bb43659223cbf3cad30170.html" target="element"> Flujo de trabajo Disciplinar </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d10b2ff47f394d5eb736ac15473907d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d10b2ff47f394d5eb736ac15473907d2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08b8a762f6514198a838e7bacce5358c.html" target="element"> Iteraci&#243;n 3 </a> </td>
																		<td> <a href="../elements/id-d155a9d7e59044c58be983c0e2c29f4c.html" target="element"> Motor de flujo de trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9891f48e56904d26867a8a184d2ac85b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9891f48e56904d26867a8a184d2ac85b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08b8a762f6514198a838e7bacce5358c.html" target="element"> Iteraci&#243;n 3 </a> </td>
																		<td> <a href="../elements/id-0d90f6b9a0394dcc9c6f1f907bc8d80d.html" target="element"> Componente de autenticaci&#243;n SIU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ed725d12ab504feab6262ae094174bb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed725d12ab504feab6262ae094174bb8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5a4035df4254599af74eb1718f85061.html" target="element"> Iteraci&#243;n 4 </a> </td>
																		<td> <a href="../elements/id-b6e4dd4912344a78a0104ea1a8c72906.html" target="element"> Panel de control flujos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78a78dae9507490f82a0e7a1d0c32ed7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78a78dae9507490f82a0e7a1d0c32ed7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5a4035df4254599af74eb1718f85061.html" target="element"> Iteraci&#243;n 4 </a> </td>
																		<td> <a href="../elements/id-ee50dfecf822405db4dd19116e3fc7b4.html" target="element"> Componente de autorizaci&#243;n SIU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4b7c5e9cd0034fefb9cab33cbe2701c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b7c5e9cd0034fefb9cab33cbe2701c6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-610a1263e8f54eaba4d0bb91adbf8d83.html" target="element"> Iteraci&#243;n 5 </a> </td>
																		<td> <a href="../elements/id-b6e4dd4912344a78a0104ea1a8c72906.html" target="element"> Panel de control flujos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7f67af846e3e4dc78f4ec50b692acb7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f67af846e3e4dc78f4ec50b692acb7a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-610a1263e8f54eaba4d0bb91adbf8d83.html" target="element"> Iteraci&#243;n 5 </a> </td>
																		<td> <a href="../elements/id-b1439d0e3d514667841a84c0aae02924.html" target="element"> Reporte flujos de trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b1ed70e9df6a478eb3d78c16fb221652.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1ed70e9df6a478eb3d78c16fb221652.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-610a1263e8f54eaba4d0bb91adbf8d83.html" target="element"> Iteraci&#243;n 5 </a> </td>
																		<td> <a href="../elements/id-582e78000e60408b8623ae7368f2aac9.html" target="element"> Componente de  comunicaci&#243;n segura SIU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-432a4426b24f4967b24724d4c8c156c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-432a4426b24f4967b24724d4c8c156c9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f97192ab1ef8437a831e5ae3d06a421d.html" target="element"> Iteraci&#243;n 6 </a> </td>
																		<td> <a href="../elements/id-b5eab6a056c743c79ba62ad939f1046d.html" target="element"> Despliegue Conciliaci&#243;n v1.2 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4a594afc8b65433cb4be4e5919a767e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a594afc8b65433cb4be4e5919a767e3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-054e649bfce8494984ce2025721da879.html" target="element"> Iteraci&#243;n 7 </a> </td>
																		<td> <a href="../elements/id-34d489480d894c138048925ff38ec4ed.html" target="element"> Adopci&#243;n, v1.2 </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>