<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Seguridad. Migracion.1.SIU modulos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Seguridad. Migracion.1.SIU modulos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2efb9df070e94a1b8eba05a57ed55eaf.png" alt="Seguridad. Migracion.1.SIU modulos" usemap="#id-2efb9df070e94a1b8eba05a57ed55eafmap"/>
			   <map name="id-2efb9df070e94a1b8eba05a57ed55eafmap">
				  				<area shape="rect" coords="400,2208,640,2318" href="../elements/id-fb36797778314007bb1d59c239153fe7.html"  target="element">
				  				<area shape="rect" coords="116,2208,356,2318" href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html"  target="element">
				  				<area shape="rect" coords="400,2064,640,2174" href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html"  target="element">
				  				<area shape="rect" coords="116,2064,356,2174" href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html"  target="element">

				  		<area shape="rect" coords="20,1968,1028,2400" href="../elements/id-2198e0bcd4f74b2f9459a00b7e26ecc5.html"  target="element">
				  				<area shape="rect" coords="92,1532,332,1642" href="../elements/id-d805ace521474e30a439f4789760f796.html"  target="element">
				  				<area shape="rect" coords="380,1388,620,1498" href="../elements/id-5c8ac656bc9e4222a5270956e28f8b08.html"  target="element">
				  				<area shape="rect" coords="668,1244,908,1354" href="../elements/id-875702502e054765993ac92b53d6fe23.html"  target="element">
				  				<area shape="rect" coords="380,1532,620,1642" href="../elements/id-27714c258b624924bf6448c0d9ba89e7.html"  target="element">
				  				<area shape="rect" coords="380,1244,620,1354" href="../elements/id-aecaee1fdc3c4aaaa5ca5d9f3f826b61.html"  target="element">
				  				<area shape="rect" coords="668,1532,908,1642" href="../elements/id-7b5170b02a4b45bda1d0fb537b34aaaf.html"  target="element">
				  				<area shape="rect" coords="668,1388,908,1498" href="../elements/id-e866abb22ad044eb8aecd69371276fcb.html"  target="element">

				  		<area shape="rect" coords="20,1076,1028,1820" href="../elements/id-fb9dff847547445c9e1c1cde1b7568aa.html"  target="element">
				  				<area shape="rect" coords="3422,1604,3702,1714" href="../elements/id-0981e6c63672412fbe8497b9444798df.html"  target="element">
				  				<area shape="rect" coords="3120,1604,3400,1714" href="../elements/id-ac6d42077e3544ae8f7c9d7bd5daf461.html"  target="element">
				  						<area shape="rect" coords="3452,1388,3692,1498" href="../elements/id-f4554ddf4983471ea28295e423d73724.html"  target="element">
				  						<area shape="rect" coords="3164,1258,3404,1368" href="../elements/id-a6b61de137cb4e09b85a23db1e5f3efc.html"  target="element">
				  						<area shape="rect" coords="3164,1388,3404,1498" href="../elements/id-346c20198fbb41db868cb5450dab9e3d.html"  target="element">

				  				<area shape="rect" coords="3092,1196,3736,1520" href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html"  target="element">

				  		<area shape="rect" coords="2996,1100,3836,1820" href="../elements/id-664e3a4d25694211999bb7c2f0cf5088.html"  target="element">
				  		<area shape="rect" coords="2948,444,3260,554" href="../elements/id-4a97e869741c4a55bdc624b353998183.html"  target="element">
				  				<area shape="rect" coords="3092,2232,3332,2342" href="../elements/id-9d2a47b8b656445b8a95269ec40d4421.html"  target="element">
				  				<area shape="rect" coords="3356,2112,3596,2222" href="../elements/id-9b05aa538eaa44b88844e9c80a584651.html"  target="element">
				  				<area shape="rect" coords="3092,2112,3332,2222" href="../elements/id-68abf55c751f4f7984c9235f0197fe31.html"  target="element">

				  		<area shape="rect" coords="2996,1968,3836,2400" href="../elements/id-e5b47350cbc24c3881f349aeb8860dba.html"  target="element">
				  						<area shape="rect" coords="620,570,860,680" href="../elements/id-0b4410560810420bad09d6cdc842553f.html"  target="element">
				  						<area shape="rect" coords="620,692,860,802" href="../elements/id-c48df4b64398450fb79de806a3696331.html"  target="element">

				  				<area shape="rect" coords="548,500,914,824" href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html"  target="element">
				  				<area shape="rect" coords="116,332,912,442" href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html"  target="element">
				  						<area shape="rect" coords="170,572,410,682" href="../elements/id-e92ace0de0884e32aaffaec71d596909.html"  target="element">
				  						<area shape="rect" coords="170,692,410,802" href="../elements/id-363d8fbbe87b4eb08ed21c655a229348.html"  target="element">

				  				<area shape="rect" coords="98,500,464,824" href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html"  target="element">

				  		<area shape="rect" coords="20,212,1028,956" href="../elements/id-6878c11f7b3b4d15a25426fd22d7eda6.html"  target="element">
				  		<area shape="rect" coords="3956,1268,4268,1378" href="../elements/id-a0097063bb3f4f5e90618feb7903f3ef.html"  target="element">
				  		<area shape="rect" coords="2948,612,3260,722" href="../elements/id-d0acf86af4914e7daeccb271790dc39b.html"  target="element">
				  		<area shape="rect" coords="860,20,1172,130" href="../elements/id-2485a6afd4454a8aae32e6d87b38a045.html"  target="element">
				  		<area shape="rect" coords="2948,276,3260,386" href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html"  target="element">
				  						<area shape="rect" coords="1520,692,1760,802" href="../elements/id-515123683f0e4a9da958265d99824cc0.html"  target="element">
				  						<area shape="rect" coords="1520,562,1760,672" href="../elements/id-e7150f379bd34087a7288f9d69bc4581.html"  target="element">

				  				<area shape="rect" coords="1448,500,1814,824" href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html"  target="element">
				  						<area shape="rect" coords="2228,332,2444,394" href="../elements/id-b32471efad9c49839350c24b4df09a2c.html"  target="element">

				  				<area shape="rect" coords="1460,308,2528,418" href="../elements/id-3785708a234346538dbd8ca5d336dcd7.html"  target="element">
				  				<area shape="rect" coords="1460,908,1802,1018" href="../elements/id-e759a68c6338464093793b86acdf7668.html"  target="element">

				  		<area shape="rect" coords="1292,212,2780,2400" href="../elements/id-780eb3d87c184ee68828559f1f9c2c34.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Distribuci&#243;n de los servicios y paquetes que integran la aplicaci&#243;n de SUI. 

Cuantro paquetes con tecnolog&#237;as respectivas
1. Angular 11 (Web)
1. API Transaccional (Node Js)
1. API Config (C#)
1. Persistencia (SQL)

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>plataforma</td><td class="convertlinks no-margin" style="white-space:pre-wrap">js</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-780eb3d87c184ee68828559f1f9c2c34.html" target="element"> PGN SIU </a> </td>
											    <td> <a href="../elements/id-780eb3d87c184ee68828559f1f9c2c34.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e759a68c6338464093793b86acdf7668.html" target="element"> Interfaz de datos 1 </a> </td>
													    <td> <a href="../elements/id-e759a68c6338464093793b86acdf7668.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3785708a234346538dbd8ca5d336dcd7.html" target="element"> Interfaz de aplicaci&#243;n (runtime) </a> </td>
													    <td> <a href="../elements/id-3785708a234346538dbd8ca5d336dcd7.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b32471efad9c49839350c24b4df09a2c.html" target="element"> Mensaje: JSON </a> </td>
															    <td> <a href="../elements/id-b32471efad9c49839350c24b4df09a2c.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html" target="element"> App </a> </td>
													    <td> <a href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-e7150f379bd34087a7288f9d69bc4581.html" target="element"> Controlador funcional </a> </td>
															    <td> <a href="../elements/id-e7150f379bd34087a7288f9d69bc4581.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-515123683f0e4a9da958265d99824cc0.html" target="element"> Puerto datos 1 </a> </td>
															    <td> <a href="../elements/id-515123683f0e4a9da958265d99824cc0.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
											    <td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2485a6afd4454a8aae32e6d87b38a045.html" target="element"> RQR. Funcionales </a> </td>
											    <td> <a href="../elements/id-2485a6afd4454a8aae32e6d87b38a045.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0acf86af4914e7daeccb271790dc39b.html" target="element"> RQR. Ingenier&#237;a </a> </td>
											    <td> <a href="../elements/id-d0acf86af4914e7daeccb271790dc39b.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0097063bb3f4f5e90618feb7903f3ef.html" target="element"> RQR. Administrativos </a> </td>
											    <td> <a href="../elements/id-a0097063bb3f4f5e90618feb7903f3ef.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6878c11f7b3b4d15a25426fd22d7eda6.html" target="element"> Presentaci&#243;n </a> </td>
											    <td> <a href="../elements/id-6878c11f7b3b4d15a25426fd22d7eda6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html" target="element"> App PGN Web </a> </td>
													    <td> <a href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-363d8fbbe87b4eb08ed21c655a229348.html" target="element"> Controlador frontal web </a> </td>
															    <td> <a href="../elements/id-363d8fbbe87b4eb08ed21c655a229348.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e92ace0de0884e32aaffaec71d596909.html" target="element"> Vista web </a> </td>
															    <td> <a href="../elements/id-e92ace0de0884e32aaffaec71d596909.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html" target="element"> Application Service (NLB) </a> </td>
													    <td> <a href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html" target="element"> App PGN M&#243;vil </a> </td>
													    <td> <a href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c48df4b64398450fb79de806a3696331.html" target="element"> Controlador frontal mvl </a> </td>
															    <td> <a href="../elements/id-c48df4b64398450fb79de806a3696331.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0b4410560810420bad09d6cdc842553f.html" target="element"> Vista m&#243;vil </a> </td>
															    <td> <a href="../elements/id-0b4410560810420bad09d6cdc842553f.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-e5b47350cbc24c3881f349aeb8860dba.html" target="element"> Almacenamiento </a> </td>
											    <td> <a href="../elements/id-e5b47350cbc24c3881f349aeb8860dba.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-68abf55c751f4f7984c9235f0197fe31.html" target="element"> Transacciones </a> </td>
													    <td> <a href="../elements/id-68abf55c751f4f7984c9235f0197fe31.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9b05aa538eaa44b88844e9c80a584651.html" target="element"> Seguridad </a> </td>
													    <td> <a href="../elements/id-9b05aa538eaa44b88844e9c80a584651.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9d2a47b8b656445b8a95269ec40d4421.html" target="element"> Utilitario </a> </td>
													    <td> <a href="../elements/id-9d2a47b8b656445b8a95269ec40d4421.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4a97e869741c4a55bdc624b353998183.html" target="element"> RQR. Misionales </a> </td>
											    <td> <a href="../elements/id-4a97e869741c4a55bdc624b353998183.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-664e3a4d25694211999bb7c2f0cf5088.html" target="element"> Administraci&#243;n </a> </td>
											    <td> <a href="../elements/id-664e3a4d25694211999bb7c2f0cf5088.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element"> Config </a> </td>
													    <td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-346c20198fbb41db868cb5450dab9e3d.html" target="element"> Modelo (neg) </a> </td>
															    <td> <a href="../elements/id-346c20198fbb41db868cb5450dab9e3d.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a6b61de137cb4e09b85a23db1e5f3efc.html" target="element"> Controlador admin </a> </td>
															    <td> <a href="../elements/id-a6b61de137cb4e09b85a23db1e5f3efc.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f4554ddf4983471ea28295e423d73724.html" target="element"> Puerto datos 2 </a> </td>
															    <td> <a href="../elements/id-f4554ddf4983471ea28295e423d73724.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-ac6d42077e3544ae8f7c9d7bd5daf461.html" target="element"> Interfaz de datos 2 </a> </td>
													    <td> <a href="../elements/id-ac6d42077e3544ae8f7c9d7bd5daf461.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0981e6c63672412fbe8497b9444798df.html" target="element"> Interfaz de datos 3 </a> </td>
													    <td> <a href="../elements/id-0981e6c63672412fbe8497b9444798df.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-fb9dff847547445c9e1c1cde1b7568aa.html" target="element"> Servicios de aplicaci&#243;n </a> </td>
											    <td> <a href="../elements/id-fb9dff847547445c9e1c1cde1b7568aa.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e866abb22ad044eb8aecd69371276fcb.html" target="element"> Archivos Compartidos </a> </td>
													    <td> <a href="../elements/id-e866abb22ad044eb8aecd69371276fcb.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7b5170b02a4b45bda1d0fb537b34aaaf.html" target="element"> API externas </a> </td>
													    <td> <a href="../elements/id-7b5170b02a4b45bda1d0fb537b34aaaf.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aecaee1fdc3c4aaaa5ca5d9f3f826b61.html" target="element"> ccccc Proveedores contenidos </a> </td>
													    <td> <a href="../elements/id-aecaee1fdc3c4aaaa5ca5d9f3f826b61.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-27714c258b624924bf6448c0d9ba89e7.html" target="element"> Identidades </a> </td>
													    <td> <a href="../elements/id-27714c258b624924bf6448c0d9ba89e7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-875702502e054765993ac92b53d6fe23.html" target="element"> Doku (gest. doc.) </a> </td>
													    <td> <a href="../elements/id-875702502e054765993ac92b53d6fe23.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c8ac656bc9e4222a5270956e28f8b08.html" target="element"> CDN Contenidos </a> </td>
													    <td> <a href="../elements/id-5c8ac656bc9e4222a5270956e28f8b08.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d805ace521474e30a439f4789760f796.html" target="element"> Office </a> </td>
													    <td> <a href="../elements/id-d805ace521474e30a439f4789760f796.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2198e0bcd4f74b2f9459a00b7e26ecc5.html" target="element"> Portales </a> </td>
											    <td> <a href="../elements/id-2198e0bcd4f74b2f9459a00b7e26ecc5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html" target="element"> Servidor web Sharepoint </a> </td>
													    <td> <a href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html" target="element"> Servidor aplicaciones Sharepoint </a> </td>
													    <td> <a href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html" target="element"> Servidor datos Sharepoint </a> </td>
													    <td> <a href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fb36797778314007bb1d59c239153fe7.html" target="element"> Application Interface </a> </td>
													    <td> <a href="../elements/id-fb36797778314007bb1d59c239153fe7.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3378725c8fb0431cac816540124b7c66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3378725c8fb0431cac816540124b7c66.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-780eb3d87c184ee68828559f1f9c2c34.html" target="element"> PGN SIU </a> </td>
																		<td> <a href="../elements/id-e759a68c6338464093793b86acdf7668.html" target="element"> Interfaz de datos 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d5961c1a872486085f6f3f0046b3b94.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d5961c1a872486085f6f3f0046b3b94.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-780eb3d87c184ee68828559f1f9c2c34.html" target="element"> PGN SIU </a> </td>
																		<td> <a href="../elements/id-3785708a234346538dbd8ca5d336dcd7.html" target="element"> Interfaz de aplicaci&#243;n (runtime) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9cfa9985b3584333be4d909eadabf461.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9cfa9985b3584333be4d909eadabf461.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-780eb3d87c184ee68828559f1f9c2c34.html" target="element"> PGN SIU </a> </td>
																		<td> <a href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html" target="element"> App </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b97bbfd82024f089438bf508983d4bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b97bbfd82024f089438bf508983d4bb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-780eb3d87c184ee68828559f1f9c2c34.html" target="element"> PGN SIU </a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e6d1389ef6cd450a8e4e64a1d82eaaf6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e6d1389ef6cd450a8e4e64a1d82eaaf6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3785708a234346538dbd8ca5d336dcd7.html" target="element"> Interfaz de aplicaci&#243;n (runtime) </a> </td>
																				<td> <a href="../elements/id-b32471efad9c49839350c24b4df09a2c.html" target="element"> Mensaje: JSON </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-08dad7d3f0f2468885c6fe1570609b2f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08dad7d3f0f2468885c6fe1570609b2f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html" target="element"> App </a> </td>
																				<td> <a href="../elements/id-515123683f0e4a9da958265d99824cc0.html" target="element"> Puerto datos 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-eae23c7d63a141949fa9a6ae0a439ff9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eae23c7d63a141949fa9a6ae0a439ff9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html" target="element"> App </a> </td>
																				<td> <a href="../elements/id-e7150f379bd34087a7288f9d69bc4581.html" target="element"> Controlador funcional </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-15c7a650194e48d694a2158fadfa68be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-15c7a650194e48d694a2158fadfa68be.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html" target="element"> App </a> </td>
																				<td> <a href="../elements/id-e759a68c6338464093793b86acdf7668.html" target="element"> Interfaz de datos 1 </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-fff9a73a11574be6922787d0ad953eae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fff9a73a11574be6922787d0ad953eae.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2485a6afd4454a8aae32e6d87b38a045.html" target="element"> RQR. Funcionales </a> </td>
																		<td> <a href="../elements/id-6878c11f7b3b4d15a25426fd22d7eda6.html" target="element"> Presentaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4b3addde8f214e4fa54a746d3a268a84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b3addde8f214e4fa54a746d3a268a84.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0acf86af4914e7daeccb271790dc39b.html" target="element"> RQR. Ingenier&#237;a </a> </td>
																		<td> <a href="../elements/id-780eb3d87c184ee68828559f1f9c2c34.html" target="element"> PGN SIU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-632f5ef97a0246cd911678f7d47fffb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-632f5ef97a0246cd911678f7d47fffb8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6878c11f7b3b4d15a25426fd22d7eda6.html" target="element"> Presentaci&#243;n </a> </td>
																		<td> <a href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html" target="element"> App PGN Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-16ec0deeda1048bbaa85911f62473e90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16ec0deeda1048bbaa85911f62473e90.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6878c11f7b3b4d15a25426fd22d7eda6.html" target="element"> Presentaci&#243;n </a> </td>
																		<td> <a href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html" target="element"> Application Service (NLB) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e597dc8ba67040ae8d3ad42cb3ddc4bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e597dc8ba67040ae8d3ad42cb3ddc4bf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6878c11f7b3b4d15a25426fd22d7eda6.html" target="element"> Presentaci&#243;n </a> </td>
																		<td> <a href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html" target="element"> App PGN M&#243;vil </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-fb14c8cabb234401ba1f059ceafc8eab.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fb14c8cabb234401ba1f059ceafc8eab.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html" target="element"> App PGN Web </a> </td>
																				<td> <a href="../elements/id-e92ace0de0884e32aaffaec71d596909.html" target="element"> Vista web </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f68c6926c4d5483b86463076f1d4ee1c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f68c6926c4d5483b86463076f1d4ee1c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html" target="element"> App PGN Web </a> </td>
																				<td> <a href="../elements/id-363d8fbbe87b4eb08ed21c655a229348.html" target="element"> Controlador frontal web </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8d4dcc32e9fc436e8bb00bb257193c74.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8d4dcc32e9fc436e8bb00bb257193c74.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html" target="element"> Application Service (NLB) </a> </td>
																				<td> <a href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html" target="element"> App PGN Web </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fb82fc053ace49c9bfee8fe6cf3d531a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fb82fc053ace49c9bfee8fe6cf3d531a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html" target="element"> Application Service (NLB) </a> </td>
																				<td> <a href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html" target="element"> App PGN M&#243;vil </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b05c014c226d40a381d85223a9a38619.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b05c014c226d40a381d85223a9a38619.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html" target="element"> App PGN M&#243;vil </a> </td>
																				<td> <a href="../elements/id-0b4410560810420bad09d6cdc842553f.html" target="element"> Vista m&#243;vil </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ece4229ff8e0442db4a7e7ff13606d01.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ece4229ff8e0442db4a7e7ff13606d01.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html" target="element"> App PGN M&#243;vil </a> </td>
																				<td> <a href="../elements/id-c48df4b64398450fb79de806a3696331.html" target="element"> Controlador frontal mvl </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-ef0df883874b4245bb0ca6b1570e4de0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef0df883874b4245bb0ca6b1570e4de0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e5b47350cbc24c3881f349aeb8860dba.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-68abf55c751f4f7984c9235f0197fe31.html" target="element"> Transacciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-795d9e1e01d94f00b1be8c709a196e60.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-795d9e1e01d94f00b1be8c709a196e60.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e5b47350cbc24c3881f349aeb8860dba.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-9b05aa538eaa44b88844e9c80a584651.html" target="element"> Seguridad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9fabe588e2b4e8d9ddcd1164ec8b132.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9fabe588e2b4e8d9ddcd1164ec8b132.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e5b47350cbc24c3881f349aeb8860dba.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-9d2a47b8b656445b8a95269ec40d4421.html" target="element"> Utilitario </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-badeae4ca19c4e1fa72948622bbbc422.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-badeae4ca19c4e1fa72948622bbbc422.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a97e869741c4a55bdc624b353998183.html" target="element"> RQR. Misionales </a> </td>
																		<td> <a href="../elements/id-780eb3d87c184ee68828559f1f9c2c34.html" target="element"> PGN SIU </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-94adb95690004557a558f170fd975e68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94adb95690004557a558f170fd975e68.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-664e3a4d25694211999bb7c2f0cf5088.html" target="element"> Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element"> Config </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e6e331f706b4b4085eaa89c794cc0f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e6e331f706b4b4085eaa89c794cc0f7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-664e3a4d25694211999bb7c2f0cf5088.html" target="element"> Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-ac6d42077e3544ae8f7c9d7bd5daf461.html" target="element"> Interfaz de datos 2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0846b738c80545dda9fe2e8cb03793cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0846b738c80545dda9fe2e8cb03793cb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-664e3a4d25694211999bb7c2f0cf5088.html" target="element"> Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-0981e6c63672412fbe8497b9444798df.html" target="element"> Interfaz de datos 3 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-816a19a34dcd4e1c84173355e48c2794.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-816a19a34dcd4e1c84173355e48c2794.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-664e3a4d25694211999bb7c2f0cf5088.html" target="element"> Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-a0097063bb3f4f5e90618feb7903f3ef.html" target="element"> RQR. Administrativos </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-42b3d8c42fe845b391f331362ddb421f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-42b3d8c42fe845b391f331362ddb421f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element"> Config </a> </td>
																				<td> <a href="../elements/id-346c20198fbb41db868cb5450dab9e3d.html" target="element"> Modelo (neg) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-48a1926c6a0042c5b9a34ce6f521585c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-48a1926c6a0042c5b9a34ce6f521585c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element"> Config </a> </td>
																				<td> <a href="../elements/id-a6b61de137cb4e09b85a23db1e5f3efc.html" target="element"> Controlador admin </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-22de72f2d8d540b390373fa2e847ca3e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-22de72f2d8d540b390373fa2e847ca3e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element"> Config </a> </td>
																				<td> <a href="../elements/id-f4554ddf4983471ea28295e423d73724.html" target="element"> Puerto datos 2 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2ec0d07f017e458ba684a397546c3800.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ec0d07f017e458ba684a397546c3800.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element"> Config </a> </td>
																				<td> <a href="../elements/id-0981e6c63672412fbe8497b9444798df.html" target="element"> Interfaz de datos 3 </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-b3d74994794c4ba6a5acc7792b9e85f8.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b3d74994794c4ba6a5acc7792b9e85f8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-346c20198fbb41db868cb5450dab9e3d.html" target="element"> Modelo (neg) </a> </td>
																						<td> <a href="../elements/id-ac6d42077e3544ae8f7c9d7bd5daf461.html" target="element"> Interfaz de datos 2 </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-f907a5150adc49c5a5459117c18b70ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f907a5150adc49c5a5459117c18b70ee.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb9dff847547445c9e1c1cde1b7568aa.html" target="element"> Servicios de aplicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-e866abb22ad044eb8aecd69371276fcb.html" target="element"> Archivos Compartidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad8db58202e046bfa0c7bacab7aab7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad8db58202e046bfa0c7bacab7aab7db.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb9dff847547445c9e1c1cde1b7568aa.html" target="element"> Servicios de aplicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-7b5170b02a4b45bda1d0fb537b34aaaf.html" target="element"> API externas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bbb542eb738746708190efa483090c06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bbb542eb738746708190efa483090c06.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb9dff847547445c9e1c1cde1b7568aa.html" target="element"> Servicios de aplicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-aecaee1fdc3c4aaaa5ca5d9f3f826b61.html" target="element"> ccccc Proveedores contenidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-421c0537f6744a069f54471fd1a89ad3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-421c0537f6744a069f54471fd1a89ad3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb9dff847547445c9e1c1cde1b7568aa.html" target="element"> Servicios de aplicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-27714c258b624924bf6448c0d9ba89e7.html" target="element"> Identidades </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74d0001b7641428090e550f00a8dfcdb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74d0001b7641428090e550f00a8dfcdb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb9dff847547445c9e1c1cde1b7568aa.html" target="element"> Servicios de aplicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-875702502e054765993ac92b53d6fe23.html" target="element"> Doku (gest. doc.) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-792bda75334b4c919e5a7a86da50e306.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-792bda75334b4c919e5a7a86da50e306.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb9dff847547445c9e1c1cde1b7568aa.html" target="element"> Servicios de aplicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-5c8ac656bc9e4222a5270956e28f8b08.html" target="element"> CDN Contenidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7dc628c37c1a485f8dd1e52277345454.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7dc628c37c1a485f8dd1e52277345454.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb9dff847547445c9e1c1cde1b7568aa.html" target="element"> Servicios de aplicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-d805ace521474e30a439f4789760f796.html" target="element"> Office </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-053232393c2144b58ad9b3a7c1380f37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-053232393c2144b58ad9b3a7c1380f37.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2198e0bcd4f74b2f9459a00b7e26ecc5.html" target="element"> Portales </a> </td>
																		<td> <a href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html" target="element"> Servidor web Sharepoint </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8c9c003bb9524bafbd3c7fbae6609a2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c9c003bb9524bafbd3c7fbae6609a2e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2198e0bcd4f74b2f9459a00b7e26ecc5.html" target="element"> Portales </a> </td>
																		<td> <a href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html" target="element"> Servidor aplicaciones Sharepoint </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a675dbf8128447298a03724117489a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a675dbf8128447298a03724117489a6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2198e0bcd4f74b2f9459a00b7e26ecc5.html" target="element"> Portales </a> </td>
																		<td> <a href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html" target="element"> Servidor datos Sharepoint </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb609f0d0b5d4b8a89589dfdd8a1f81a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb609f0d0b5d4b8a89589dfdd8a1f81a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2198e0bcd4f74b2f9459a00b7e26ecc5.html" target="element"> Portales </a> </td>
																		<td> <a href="../elements/id-fb36797778314007bb1d59c239153fe7.html" target="element"> Application Interface </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>