<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Organización. 1n.1.. Mapa producto arquitectura PGN</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Organizaci&#243;n. 1n.1.. Mapa producto arquitectura PGN</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4acba5538de34883abe9b4900042f7bd.png" alt="Organización. 1n.1.. Mapa producto arquitectura PGN" usemap="#id-4acba5538de34883abe9b4900042f7bdmap"/>
			   <map name="id-4acba5538de34883abe9b4900042f7bdmap">
				  				<area shape="rect" coords="1388,572,1628,682" href="../elements/id-c43acf0b5c8547dc9598cdafb51b6986.html"  target="element">
				  				<area shape="rect" coords="954,572,1244,682" href="../elements/id-5fe61f0bd2f042ada55280aef6b74c8f.html"  target="element">
				  				<area shape="rect" coords="980,860,1220,970" href="../elements/id-b2fe9ecb0f9f44c3a8a65373418861a7.html"  target="element">

				  		<area shape="rect" coords="860,20,1702,1054" href="../elements/id-7b6320623cb84d2ba3d4641f099e1b76.html"  target="element">
				  				<area shape="rect" coords="428,860,668,970" href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html"  target="element">
				  				<area shape="rect" coords="428,404,668,514" href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html"  target="element">
				  				<area shape="rect" coords="98,238,372,348" href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html"  target="element">
				  				<area shape="rect" coords="428,572,668,682" href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html"  target="element">
				  				<area shape="rect" coords="116,92,356,202" href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html"  target="element">

				  		<area shape="rect" coords="20,20,820,1054" href="../elements/id-2a2fa7443e34433880e94f897e75d453.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
											    <td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element"> Hitos mercado </a> </td>
													    <td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
													    <td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
													    <td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
													    <td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element"> Deliverable: (tiempo) </a> </td>
													    <td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7b6320623cb84d2ba3d4641f099e1b76.html" target="element"> Hoja ruta aquitectura </a> </td>
											    <td> <a href="../elements/id-7b6320623cb84d2ba3d4641f099e1b76.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b2fe9ecb0f9f44c3a8a65373418861a7.html" target="element"> Gap </a> </td>
													    <td> <a href="../elements/id-b2fe9ecb0f9f44c3a8a65373418861a7.html" target="element" class="i18n-elementtype-Gap">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5fe61f0bd2f042ada55280aef6b74c8f.html" target="element"> Evoluci&#243;n arquitectura </a> </td>
													    <td> <a href="../elements/id-5fe61f0bd2f042ada55280aef6b74c8f.html" target="element" class="i18n-elementtype-Plateau">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c43acf0b5c8547dc9598cdafb51b6986.html" target="element"> Application Component </a> </td>
													    <td> <a href="../elements/id-c43acf0b5c8547dc9598cdafb51b6986.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-70374170d8034734bfc3935e37663ae4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70374170d8034734bfc3935e37663ae4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element"> Hitos mercado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-01647cc9611443d4b6560350ae121e3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01647cc9611443d4b6560350ae121e3d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd0dbd1bc258471eb6cd9fbd0be6bf4d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd0dbd1bc258471eb6cd9fbd0be6bf4d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a33d8c728634429b6edc179f6930238.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a33d8c728634429b6edc179f6930238.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c279c61a2004c1d8ebfafa98b7c4a3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c279c61a2004c1d8ebfafa98b7c4a3e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element"> Deliverable: (tiempo) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-343f93f73aa045aab8142e798b196a3a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-343f93f73aa045aab8142e798b196a3a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
																				<td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5cf598da3bb74b62a9679f313e9d3d50.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5cf598da3bb74b62a9679f313e9d3d50.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
																				<td> <a href="../elements/id-5fe61f0bd2f042ada55280aef6b74c8f.html" target="element"> Evoluci&#243;n arquitectura </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-74befda8ee304433913f9c4a89d7cac1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74befda8ee304433913f9c4a89d7cac1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
																				<td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element"> Deliverable: (tiempo) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-416b841c639d458daf234e04adf1998b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-416b841c639d458daf234e04adf1998b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
																				<td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element"> Hitos mercado </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a76dea6c04c144d2ae0d087b95207db6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a76dea6c04c144d2ae0d087b95207db6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
																				<td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-72907a9a8fcc478586c5128c0680e3e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72907a9a8fcc478586c5128c0680e3e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b6320623cb84d2ba3d4641f099e1b76.html" target="element"> Hoja ruta aquitectura </a> </td>
																		<td> <a href="../elements/id-b2fe9ecb0f9f44c3a8a65373418861a7.html" target="element"> Gap </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-90a87672094045ab80ea24d110be82ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90a87672094045ab80ea24d110be82ee.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b6320623cb84d2ba3d4641f099e1b76.html" target="element"> Hoja ruta aquitectura </a> </td>
																		<td> <a href="../elements/id-5fe61f0bd2f042ada55280aef6b74c8f.html" target="element"> Evoluci&#243;n arquitectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61e17f628fc1486397bebd650a5b860e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61e17f628fc1486397bebd650a5b860e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b6320623cb84d2ba3d4641f099e1b76.html" target="element"> Hoja ruta aquitectura </a> </td>
																		<td> <a href="../elements/id-c43acf0b5c8547dc9598cdafb51b6986.html" target="element"> Application Component </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-785a98b15e2d40a99ca1d89a14fa61d6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-785a98b15e2d40a99ca1d89a14fa61d6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b2fe9ecb0f9f44c3a8a65373418861a7.html" target="element"> Gap </a> </td>
																				<td> <a href="../elements/id-5fe61f0bd2f042ada55280aef6b74c8f.html" target="element"> Evoluci&#243;n arquitectura </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-725c710334694608831af9eacc2e2e72.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-725c710334694608831af9eacc2e2e72.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5fe61f0bd2f042ada55280aef6b74c8f.html" target="element"> Evoluci&#243;n arquitectura </a> </td>
																				<td> <a href="../elements/id-c43acf0b5c8547dc9598cdafb51b6986.html" target="element"> Application Component </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>