<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Seguridad. Linebase.2.Portal</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Seguridad. Linebase.2.Portal</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5b47de95cd3f49d6b7dc05471bcc503a.png" alt="Seguridad. Linebase.2.Portal" usemap="#id-5b47de95cd3f49d6b7dc05471bcc503amap"/>
			   <map name="id-5b47de95cd3f49d6b7dc05471bcc503amap">
				  				<area shape="rect" coords="1388,326,1628,436" href="../elements/id-8ba529240fe24570b65d5fb9dc40700c.html"  target="element">
				  				<area shape="rect" coords="1364,158,1604,268" href="../elements/id-1603a74a5cfb4e1b8814a196a3060575.html"  target="element">

				  		<area shape="rect" coords="1172,86,1798,502" href="../elements/id-fb36797778314007bb1d59c239153fe7.html"  target="element">
				  		        <area shape="rect" coords="620,476,990,636" href="../objects/id-5461c75d62e445b0b36bf0900e2a91a8.html" target="element" >
				  		        <area shape="rect" coords="116,476,486,636" href="../objects/id-89a0d17534f64cf8b85ed120ae750d45.html" target="element" >
				  				<area shape="rect" coords="308,308,548,418" href="../elements/id-ef566942c17a4826a679358f3049f719.html"  target="element">
				  				<area shape="rect" coords="572,308,812,418" href="../elements/id-3022f05f3de14645a839fd21f6a81963.html"  target="element">
				  				<area shape="rect" coords="836,308,1076,418" href="../elements/id-2c90765a71424cebbfb130eb8033e644.html"  target="element">
				  				<area shape="rect" coords="44,308,284,418" href="../elements/id-9695189742764dd49f14c52ea06a4c18.html"  target="element">
				  				<area shape="rect" coords="764,92,1004,202" href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html"  target="element">
				  				<area shape="rect" coords="428,92,668,202" href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html"  target="element">
				  				<area shape="rect" coords="96,92,336,202" href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html"  target="element">

				  		<area shape="rect" coords="20,20,1102,670" href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">El portal es el conjunto de los elementos f&#237;sicos y l&#243;gicos necesarios para la implementaci&#243;n de la granja de servidores de SharePoint Server 2019 para el portal de la PROCURADURIA.

* Servidores Web Front End
* Servidores de Aplicaciones
* Servidores de SQL Server
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
											    <td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html" target="element"> Servidor web Sharepoint </a> </td>
													    <td> <a href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html" target="element"> Servidor aplicaciones Sharepoint </a> </td>
													    <td> <a href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html" target="element"> Servidor datos Sharepoint </a> </td>
													    <td> <a href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9695189742764dd49f14c52ea06a4c18.html" target="element"> Directivas de acceso. </a> </td>
													    <td> <a href="../elements/id-9695189742764dd49f14c52ea06a4c18.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c90765a71424cebbfb130eb8033e644.html" target="element"> Directivas de Aplicaciones. </a> </td>
													    <td> <a href="../elements/id-2c90765a71424cebbfb130eb8033e644.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3022f05f3de14645a839fd21f6a81963.html" target="element"> Directivas de proteccion de aplicaciones. </a> </td>
													    <td> <a href="../elements/id-3022f05f3de14645a839fd21f6a81963.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ef566942c17a4826a679358f3049f719.html" target="element"> Directivas de riesgos de protecci&#243;n. * </a> </td>
													    <td> <a href="../elements/id-ef566942c17a4826a679358f3049f719.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-89a0d17534f64cf8b85ed120ae750d45.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-89a0d17534f64cf8b85ed120ae750d45.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5461c75d62e445b0b36bf0900e2a91a8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5461c75d62e445b0b36bf0900e2a91a8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-fb36797778314007bb1d59c239153fe7.html" target="element"> Application Interface </a> </td>
											    <td> <a href="../elements/id-fb36797778314007bb1d59c239153fe7.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1603a74a5cfb4e1b8814a196a3060575.html" target="element"> Requiere inicio de sesi&#243;n. </a> </td>
													    <td> <a href="../elements/id-1603a74a5cfb4e1b8814a196a3060575.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8ba529240fe24570b65d5fb9dc40700c.html" target="element"> Requiere MFA * </a> </td>
													    <td> <a href="../elements/id-8ba529240fe24570b65d5fb9dc40700c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c831a0ec0c00455fb63332d054782794.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c831a0ec0c00455fb63332d054782794.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																		<td> <a href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html" target="element"> Servidor web Sharepoint </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc4e4a7f9044442ab7c4e171b33d1eeb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc4e4a7f9044442ab7c4e171b33d1eeb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																		<td> <a href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html" target="element"> Servidor aplicaciones Sharepoint </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-88c3f10e2ac64eb6be4717838e56643b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88c3f10e2ac64eb6be4717838e56643b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																		<td> <a href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html" target="element"> Servidor datos Sharepoint </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b908be99cffd4eb79d4e3e06b04f052a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b908be99cffd4eb79d4e3e06b04f052a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																		<td> <a href="../elements/id-9695189742764dd49f14c52ea06a4c18.html" target="element"> Directivas de acceso. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-52359f74d5c64ef0a2891169adfc35c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52359f74d5c64ef0a2891169adfc35c7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																		<td> <a href="../elements/id-2c90765a71424cebbfb130eb8033e644.html" target="element"> Directivas de Aplicaciones. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83edc3cd882f417b9be44868d27fc4de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83edc3cd882f417b9be44868d27fc4de.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																		<td> <a href="../elements/id-3022f05f3de14645a839fd21f6a81963.html" target="element"> Directivas de proteccion de aplicaciones. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a63b2de389b4f4c9aa776452cf0719c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a63b2de389b4f4c9aa776452cf0719c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																		<td> <a href="../elements/id-ef566942c17a4826a679358f3049f719.html" target="element"> Directivas de riesgos de protecci&#243;n. * </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-4ff657fe7dab40beb5b189730fcc1493.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ff657fe7dab40beb5b189730fcc1493.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb36797778314007bb1d59c239153fe7.html" target="element"> Application Interface </a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d9bb10a29cb44426885567cfdb0ea8be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d9bb10a29cb44426885567cfdb0ea8be.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1603a74a5cfb4e1b8814a196a3060575.html" target="element"> Requiere inicio de sesi&#243;n. </a> </td>
																				<td> <a href="../elements/id-fb36797778314007bb1d59c239153fe7.html" target="element"> Application Interface </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d334d1c2ab134ff08e3c1ce37982bc04.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d334d1c2ab134ff08e3c1ce37982bc04.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8ba529240fe24570b65d5fb9dc40700c.html" target="element"> Requiere MFA * </a> </td>
																				<td> <a href="../elements/id-fb36797778314007bb1d59c239153fe7.html" target="element"> Application Interface </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>