<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Seguridad. Lineabase.1a.SIU componentes (eliminar)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Seguridad. Lineabase.1a.SIU componentes (eliminar)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-502dd8179b984af2a2c655cee948fefc.png" alt="Seguridad. Lineabase.1a.SIU componentes (eliminar)" usemap="#id-502dd8179b984af2a2c655cee948fefcmap"/>
			   <map name="id-502dd8179b984af2a2c655cee948fefcmap">
				          <area shape="rect" coords="1514,2580,1674,2628" href="../objects/id-635c2e3bdba6425abb86c980c0c5606a.html" target="element" >
				          <area shape="rect" coords="1512,2580,1674,2628" href="../objects/id-8f03d7ceadda4a0b81d2c9fbb06145b2.html" target="element" >
				          <area shape="rect" coords="900,2580,1060,2628" href="../objects/id-15ea22c2b3a64ada85dc61166de9aa20.html" target="element" >
				          <area shape="rect" coords="712,2580,872,2628" href="../objects/id-99df5908ac324f0eac605de94e2147ac.html" target="element" >
				          <area shape="rect" coords="898,2580,1060,2628" href="../objects/id-99259f7b9aa44025b78a389d4bb529c7.html" target="element" >
				  		<area shape="rect" coords="1174,2468,1392,2518" href="../elements/id-c8c31a16de924a5f80cb111aabc2303b.html"  target="element">
				  		<area shape="rect" coords="898,2468,1116,2518" href="../elements/id-66c62d76991e449a9a1c2403521ea1f3.html"  target="element">
				  		<area shape="rect" coords="454,2468,672,2518" href="../elements/id-fb549833c5a146329510ed57dc6c6a10.html"  target="element">
				  		<area shape="rect" coords="226,2468,480,2518" href="../elements/id-e84b81dc81504e30957ddd12f6ebcb5d.html"  target="element">
				  		<area shape="rect" coords="928,2324,1626,2422" href="../elements/id-cfe31160aa434bd79317a6dad33227ae.html"  target="element">
				          <area shape="rect" coords="208,2300,498,2420" href="../objects/id-df3be803d2784eb196f1d224902d25dd.html" target="element" >
				  		<area shape="rect" coords="440,1268,694,1318" href="../elements/id-2c4139531bd94f568e560cd2854db2fd.html"  target="element">
				  		        <area shape="rect" coords="116,860,406,980" href="../objects/id-df6affc2c5e4411dac15da15d5f94c43.html" target="element" >
				  		        <area shape="rect" coords="20,1868,310,1918" href="../objects/id-d08133c5191d401fb220fd928e8a601a.html" target="element" >

				  		<area shape="rect" coords="20,44,556,2204" href="../elements/id-23b5c52168164173986369621facd0fb.html"  target="element">
				  		        <area shape="rect" coords="1196,254,1410,350" href="../objects/id-a0dde99b90764a0d858c8b5b6029e235.html" target="element" >
				  		        <area shape="rect" coords="1632,548,1792,596" href="../objects/id-68e98d74a80e46d7b9f60c7c4850e32f.html" target="element" >
				  		        <area shape="rect" coords="1446,522,1606,570" href="../objects/id-b4c5278c157f4850ada8b9311f79305f.html" target="element" >
				  		        <area shape="rect" coords="1630,478,1792,526" href="../objects/id-9f19e189feb04b6ea63b8313f6d18939.html" target="element" >
				  		        <area shape="rect" coords="1018,570,1178,618" href="../objects/id-26997f1cff0e4aa6b3057f66b3819126.html" target="element" >
				  		        <area shape="rect" coords="830,522,990,570" href="../objects/id-c917e7c674f944e384500b6e0fef4417.html" target="element" >
				  		        <area shape="rect" coords="1016,478,1178,526" href="../objects/id-7427727d824c471d87905f57bf495be0.html" target="element" >
				  				<area shape="rect" coords="1388,1412,1606,1462" href="../elements/id-ab1959ed35ec40f9bcc7e958632ad416.html"  target="element">
				  				<area shape="rect" coords="1112,1412,1330,1462" href="../elements/id-6f6d73f90b244e1b8320a03a6ef339fd.html"  target="element">
				  				<area shape="rect" coords="668,1412,886,1462" href="../elements/id-af8bd36e8afe40d4bd2ccbd1802001a6.html"  target="element">
				  				<area shape="rect" coords="1100,2084,1342,2182" href="../elements/id-c2a22b8c4a044b2eb432da3c828a570e.html"  target="element">

				  		<area shape="rect" coords="644,20,1940,2180" href="../elements/id-9509fa54261f413aac46e6305583b7d6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Dependencias de infraestructura entre los servicios que integran el modelo de aplicaci&#243;n de SUI, Migraci&#243;n. 

* Servidor de Canales (App PGN web y m&#243;vil)
* Servidor Web App (App SUI)
* Servidor Lappiz (Config SUI)
* Servidor BDD App (Transaccional)
* Servidor BDD Config (Configuraci&#243;n)

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>plataforma</td><td class="convertlinks no-margin" style="white-space:pre-wrap">js</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9509fa54261f413aac46e6305583b7d6.html" target="element"> PGN SIU </a> </td>
											    <td> <a href="../elements/id-9509fa54261f413aac46e6305583b7d6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c2a22b8c4a044b2eb432da3c828a570e.html" target="element"> Autorizacion de usuario. </a> </td>
													    <td> <a href="../elements/id-c2a22b8c4a044b2eb432da3c828a570e.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af8bd36e8afe40d4bd2ccbd1802001a6.html" target="element"> Key public </a> </td>
													    <td> <a href="../elements/id-af8bd36e8afe40d4bd2ccbd1802001a6.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6f6d73f90b244e1b8320a03a6ef339fd.html" target="element"> Key public (copy) </a> </td>
													    <td> <a href="../elements/id-6f6d73f90b244e1b8320a03a6ef339fd.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ab1959ed35ec40f9bcc7e958632ad416.html" target="element"> Key public (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-ab1959ed35ec40f9bcc7e958632ad416.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-7427727d824c471d87905f57bf495be0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7427727d824c471d87905f57bf495be0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c917e7c674f944e384500b6e0fef4417.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c917e7c674f944e384500b6e0fef4417.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-26997f1cff0e4aa6b3057f66b3819126.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-26997f1cff0e4aa6b3057f66b3819126.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9f19e189feb04b6ea63b8313f6d18939.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9f19e189feb04b6ea63b8313f6d18939.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b4c5278c157f4850ada8b9311f79305f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b4c5278c157f4850ada8b9311f79305f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-68e98d74a80e46d7b9f60c7c4850e32f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-68e98d74a80e46d7b9f60c7c4850e32f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-a0dde99b90764a0d858c8b5b6029e235.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a0dde99b90764a0d858c8b5b6029e235.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-23b5c52168164173986369621facd0fb.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-23b5c52168164173986369621facd0fb.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-d08133c5191d401fb220fd928e8a601a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d08133c5191d401fb220fd928e8a601a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-df6affc2c5e4411dac15da15d5f94c43.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-df6affc2c5e4411dac15da15d5f94c43.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-2c4139531bd94f568e560cd2854db2fd.html" target="element"> Scanning Ports </a> </td>
											    <td> <a href="../elements/id-2c4139531bd94f568e560cd2854db2fd.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-df3be803d2784eb196f1d224902d25dd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-df3be803d2784eb196f1d224902d25dd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-cfe31160aa434bd79317a6dad33227ae.html" target="element"> WAF Web application firewall (copy) </a> </td>
											    <td> <a href="../elements/id-cfe31160aa434bd79317a6dad33227ae.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e84b81dc81504e30957ddd12f6ebcb5d.html" target="element"> Scanning Ports (copy) </a> </td>
											    <td> <a href="../elements/id-e84b81dc81504e30957ddd12f6ebcb5d.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fb549833c5a146329510ed57dc6c6a10.html" target="element"> Key public (copy) </a> </td>
											    <td> <a href="../elements/id-fb549833c5a146329510ed57dc6c6a10.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-66c62d76991e449a9a1c2403521ea1f3.html" target="element"> Key public (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-66c62d76991e449a9a1c2403521ea1f3.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8c31a16de924a5f80cb111aabc2303b.html" target="element"> Key public (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-c8c31a16de924a5f80cb111aabc2303b.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-99259f7b9aa44025b78a389d4bb529c7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-99259f7b9aa44025b78a389d4bb529c7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-99df5908ac324f0eac605de94e2147ac.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-99df5908ac324f0eac605de94e2147ac.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-15ea22c2b3a64ada85dc61166de9aa20.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-15ea22c2b3a64ada85dc61166de9aa20.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8f03d7ceadda4a0b81d2c9fbb06145b2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8f03d7ceadda4a0b81d2c9fbb06145b2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-635c2e3bdba6425abb86c980c0c5606a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-635c2e3bdba6425abb86c980c0c5606a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-89c85683698647fdb31cad77b1f61d7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89c85683698647fdb31cad77b1f61d7a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9509fa54261f413aac46e6305583b7d6.html" target="element"> PGN SIU </a> </td>
																		<td> <a href="../elements/id-af8bd36e8afe40d4bd2ccbd1802001a6.html" target="element"> Key public </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ff55dce8925477ebe53db5b90bdd3d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ff55dce8925477ebe53db5b90bdd3d0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9509fa54261f413aac46e6305583b7d6.html" target="element"> PGN SIU </a> </td>
																		<td> <a href="../elements/id-c2a22b8c4a044b2eb432da3c828a570e.html" target="element"> Autorizacion de usuario. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4752e7698eaf476a935fdc5d1b38ca95.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4752e7698eaf476a935fdc5d1b38ca95.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9509fa54261f413aac46e6305583b7d6.html" target="element"> PGN SIU </a> </td>
																		<td> <a href="../elements/id-ab1959ed35ec40f9bcc7e958632ad416.html" target="element"> Key public (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>