<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Migracion.2d. datos SIM</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Migracion.2d. datos SIM</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5f6183bf4bd84a1da1c33f8273c4c47b.png" alt="Migracion.2d. datos SIM" usemap="#id-5f6183bf4bd84a1da1c33f8273c4c47bmap"/>
			   <map name="id-5f6183bf4bd84a1da1c33f8273c4c47bmap">
				  		<area shape="rect" coords="356,716,642,826" href="../elements/id-ec8cf26424d64e39a96c4a5531081a08.html"  target="element">
				  		<area shape="rect" coords="692,716,978,826" href="../elements/id-23ad0efda7404d2bad4ac0d9d4826bdb.html"  target="element">
				  		<area shape="rect" coords="692,596,978,706" href="../elements/id-d6d6322fefd74839be8e60da08e7e22d.html"  target="element">
				  		<area shape="rect" coords="356,596,642,706" href="../elements/id-7b4566246104449a95e9bc1c275c746d.html"  target="element">
				  		<area shape="rect" coords="20,356,260,466" href="../elements/id-d065cfeff9b04ba2b09acec138d17e1f.html"  target="element">
				          <area shape="rect" coords="20,20,478,310" href="../objects/id-e0fc12e1afee415abbe0e557c2032ca1.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Identificaci&#243;n de entidades de datos de negocio relacionadas al m&#243;dulo de SUI, SIM.

Estas entidades de datos de negocio son los que llamamos los tipos de datos internos del SUI y deben ser consideradas para la creaci&#243;n de las API de manejo del ciclo de vida de los datos de este m&#243;dulo. 
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-e0fc12e1afee415abbe0e557c2032ca1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e0fc12e1afee415abbe0e557c2032ca1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-d065cfeff9b04ba2b09acec138d17e1f.html" target="element"> APP5.SIM </a> </td>
											    <td> <a href="../elements/id-d065cfeff9b04ba2b09acec138d17e1f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7b4566246104449a95e9bc1c275c746d.html" target="element"> DAT.Corregimiento </a> </td>
											    <td> <a href="../elements/id-7b4566246104449a95e9bc1c275c746d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6d6322fefd74839be8e60da08e7e22d.html" target="element"> DAT.Departamento </a> </td>
											    <td> <a href="../elements/id-d6d6322fefd74839be8e60da08e7e22d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-23ad0efda7404d2bad4ac0d9d4826bdb.html" target="element"> DAT.Municipio </a> </td>
											    <td> <a href="../elements/id-23ad0efda7404d2bad4ac0d9d4826bdb.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec8cf26424d64e39a96c4a5531081a08.html" target="element"> DAT.Pa&#237;s </a> </td>
											    <td> <a href="../elements/id-ec8cf26424d64e39a96c4a5531081a08.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-a28a8fa73f264e5baa7a217a03c9a029.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a28a8fa73f264e5baa7a217a03c9a029.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d065cfeff9b04ba2b09acec138d17e1f.html" target="element"> APP5.SIM </a> </td>
																		<td> <a href="../elements/id-23ad0efda7404d2bad4ac0d9d4826bdb.html" target="element"> DAT.Municipio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0efc8f264444cd9a1e26f9c1fb25f81.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0efc8f264444cd9a1e26f9c1fb25f81.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d065cfeff9b04ba2b09acec138d17e1f.html" target="element"> APP5.SIM </a> </td>
																		<td> <a href="../elements/id-d6d6322fefd74839be8e60da08e7e22d.html" target="element"> DAT.Departamento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1047fe94043944e6ba83f06ab8f6527d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1047fe94043944e6ba83f06ab8f6527d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d065cfeff9b04ba2b09acec138d17e1f.html" target="element"> APP5.SIM </a> </td>
																		<td> <a href="../elements/id-ec8cf26424d64e39a96c4a5531081a08.html" target="element"> DAT.Pa&#237;s </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8a56cc5a267c46ccb1242198af482bba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a56cc5a267c46ccb1242198af482bba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d065cfeff9b04ba2b09acec138d17e1f.html" target="element"> APP5.SIM </a> </td>
																		<td> <a href="../elements/id-7b4566246104449a95e9bc1c275c746d.html" target="element"> DAT.Corregimiento </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>