<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Linebase.2.Portal</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Linebase.2.Portal</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-64947c69f63c422e9f18c81763910332.png" alt="Linebase.2.Portal" usemap="#id-64947c69f63c422e9f18c81763910332map"/>
			   <map name="id-64947c69f63c422e9f18c81763910332map">
				  		<area shape="rect" coords="1196,86,1436,196" href="../elements/id-fb36797778314007bb1d59c239153fe7.html"  target="element">
				  				<area shape="rect" coords="764,92,1004,202" href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html"  target="element">
				  				<area shape="rect" coords="428,92,668,202" href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html"  target="element">
				  				<area shape="rect" coords="96,92,336,202" href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html"  target="element">

				  		<area shape="rect" coords="20,20,1102,262" href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">El portal es el conjunto de los elementos f&#237;sicos y l&#243;gicos necesarios para la implementaci&#243;n de la granja de servidores de SharePoint Server 2019 para el portal de la PROCURADURIA.

* Servidores Web Front End
* Servidores de Aplicaciones
* Servidores de SQL Server
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
											    <td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html" target="element"> Servidor web Sharepoint </a> </td>
													    <td> <a href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html" target="element"> Servidor aplicaciones Sharepoint </a> </td>
													    <td> <a href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html" target="element"> Servidor datos Sharepoint </a> </td>
													    <td> <a href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-fb36797778314007bb1d59c239153fe7.html" target="element"> Application Interface </a> </td>
											    <td> <a href="../elements/id-fb36797778314007bb1d59c239153fe7.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c831a0ec0c00455fb63332d054782794.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c831a0ec0c00455fb63332d054782794.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																		<td> <a href="../elements/id-adb0b38c9b2942c198cc723156e06f36.html" target="element"> Servidor web Sharepoint </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc4e4a7f9044442ab7c4e171b33d1eeb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc4e4a7f9044442ab7c4e171b33d1eeb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																		<td> <a href="../elements/id-37c2212d62c342ea97d70e019f6e597a.html" target="element"> Servidor aplicaciones Sharepoint </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-88c3f10e2ac64eb6be4717838e56643b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88c3f10e2ac64eb6be4717838e56643b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																		<td> <a href="../elements/id-79ca8712c86b46ffa7f0f4ee08fa7326.html" target="element"> Servidor datos Sharepoint </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4ff657fe7dab40beb5b189730fcc1493.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ff657fe7dab40beb5b189730fcc1493.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fb36797778314007bb1d59c239153fe7.html" target="element"> Application Interface </a> </td>
																		<td> <a href="../elements/id-12e230c0afcb4d38b60ec900f9ca2494.html" target="element"> Application Collaboration Sharepoint </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>