<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Riesgos.2. Modelo Riesgo RSG10</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Riesgos.2. Modelo Riesgo RSG10</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-77e94c7adf4c47acac08d7fa168dccc3.png" alt="Riesgos.2. Modelo Riesgo RSG10" usemap="#id-77e94c7adf4c47acac08d7fa168dccc3map"/>
			   <map name="id-77e94c7adf4c47acac08d7fa168dccc3map">
				          <area shape="rect" coords="20,20,622,310" href="../objects/id-b9419e9e429c4aebaef6928700c801b8.html" target="element" >
				  		<area shape="rect" coords="412,740,726,850" href="../elements/id-2bba56b860154cf09f5f68a06ab5ce8d.html"  target="element">
				  		<area shape="rect" coords="116,488,356,598" href="../elements/id-36cde18bda4e4e9abc9fcecdaf24bb2a.html"  target="element">
				  		<area shape="rect" coords="412,980,726,1090" href="../elements/id-0575229ebaa04a8f999044cb476e5959.html"  target="element">
				  		<area shape="rect" coords="116,356,356,466" href="../elements/id-d411fd3c2abc4f9486fe8131215a1ab1.html"  target="element">
				  		<area shape="rect" coords="420,404,718,514" href="../elements/id-a8178c3ddabc4a6584882fec66b2b199.html"  target="element">
				  		<area shape="rect" coords="812,404,1052,514" href="../elements/id-e4a9755831ce4d4eb44e1de4e97c796f.html"  target="element">
				  		<area shape="rect" coords="812,740,1052,850" href="../elements/id-1c0c54d2b1714f20a218dbe4878b9f31.html"  target="element">
				  		<area shape="rect" coords="116,740,356,850" href="../elements/id-bb731cc101574974b28cd526ea73854d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Para mitigar el riesgo 10, RSG10. Validaci&#243;n decisiones de arquitectura, que tiene como agente de riesgo a los arquitectos del contratista, Softgic, y al de la entidad, PGN, es necesario iniciar un proceso de evaluaci&#243;n y aprobaci&#243;n de la arquitectura. La frecuencia de este proceso ser&#225; eventual, y como m&#237;nimo una vez cada dos semanas.

### Valoraci&#243;n del Riesgo

| Requisito      | Extensibilidad SUI |
|:-------------|:------------------|
| Descripci&#243;n | Concentraci&#243;n de los componentes de negocio, misionales, del SUI protegidos de cambios provenientes de otros sistemas. Ver Patr&#243;n de Dise&#241;o Migraci&#243;n SUI, m&#225;s adelante en el documento. |
| Calidad sist&#233;mica | La extensibilidad que optimiza el dise&#241;o Migraci&#243;n SUI est&#225; dada por el intercambio de subm&#243;dulos no misionales, como el gestor documental, sin afectaci&#243;n de los componentes misionales que este dise&#241;o protege. |

Table: Valoraci&#243;n del riesgo RSG10. Validaci&#243;n decisiones de arquitectura. Migraci&#243;n SUI. {#tbl:requisito1-id}
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-bb731cc101574974b28cd526ea73854d.html" target="element"> Sesi&#243;n semanal validaci&#243;n arquitectura </a> </td>
											    <td> <a href="../elements/id-bb731cc101574974b28cd526ea73854d.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c0c54d2b1714f20a218dbe4878b9f31.html" target="element"> Impacto </a> </td>
											    <td> <a href="../elements/id-1c0c54d2b1714f20a218dbe4878b9f31.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e4a9755831ce4d4eb44e1de4e97c796f.html" target="element"> Supervisor contrato 078-2023 </a> </td>
											    <td> <a href="../elements/id-e4a9755831ce4d4eb44e1de4e97c796f.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a8178c3ddabc4a6584882fec66b2b199.html" target="element"> Desconocimiento arq. de referencia SUI </a> </td>
											    <td> <a href="../elements/id-a8178c3ddabc4a6584882fec66b2b199.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d411fd3c2abc4f9486fe8131215a1ab1.html" target="element"> Agente de riesgo Softgic </a> </td>
											    <td> <a href="../elements/id-d411fd3c2abc4f9486fe8131215a1ab1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0575229ebaa04a8f999044cb476e5959.html" target="element"> Evaluaci&#243;n  arquitectura de referencia SUI </a> </td>
											    <td> <a href="../elements/id-0575229ebaa04a8f999044cb476e5959.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36cde18bda4e4e9abc9fcecdaf24bb2a.html" target="element"> Agente de riesgo PGN </a> </td>
											    <td> <a href="../elements/id-36cde18bda4e4e9abc9fcecdaf24bb2a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2bba56b860154cf09f5f68a06ab5ce8d.html" target="element"> RSG10. Validaci&#243;n decisiones de arquitectura </a> </td>
											    <td> <a href="../elements/id-2bba56b860154cf09f5f68a06ab5ce8d.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-b9419e9e429c4aebaef6928700c801b8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b9419e9e429c4aebaef6928700c801b8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c65c37ca90e846308865ff0147a544ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c65c37ca90e846308865ff0147a544ab.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bb731cc101574974b28cd526ea73854d.html" target="element"> Sesi&#243;n semanal validaci&#243;n arquitectura </a> </td>
																		<td> <a href="../elements/id-2bba56b860154cf09f5f68a06ab5ce8d.html" target="element"> RSG10. Validaci&#243;n decisiones de arquitectura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-17381ac616f841309e3bd82470c89070.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17381ac616f841309e3bd82470c89070.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e4a9755831ce4d4eb44e1de4e97c796f.html" target="element"> Supervisor contrato 078-2023 </a> </td>
																		<td> <a href="../elements/id-1c0c54d2b1714f20a218dbe4878b9f31.html" target="element"> Impacto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6ec93953356f4373b41ffe7ed0b3a2a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ec93953356f4373b41ffe7ed0b3a2a1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8178c3ddabc4a6584882fec66b2b199.html" target="element"> Desconocimiento arq. de referencia SUI </a> </td>
																		<td> <a href="../elements/id-2bba56b860154cf09f5f68a06ab5ce8d.html" target="element"> RSG10. Validaci&#243;n decisiones de arquitectura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cb3381a4653e40a78e808d68a277366c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb3381a4653e40a78e808d68a277366c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d411fd3c2abc4f9486fe8131215a1ab1.html" target="element"> Agente de riesgo Softgic </a> </td>
																		<td> <a href="../elements/id-a8178c3ddabc4a6584882fec66b2b199.html" target="element"> Desconocimiento arq. de referencia SUI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a4b5c2c58efe4a9895e2f20f3899067e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4b5c2c58efe4a9895e2f20f3899067e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0575229ebaa04a8f999044cb476e5959.html" target="element"> Evaluaci&#243;n  arquitectura de referencia SUI </a> </td>
																		<td> <a href="../elements/id-2bba56b860154cf09f5f68a06ab5ce8d.html" target="element"> RSG10. Validaci&#243;n decisiones de arquitectura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0dc2b7359c68480a825f6386a6120462.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0dc2b7359c68480a825f6386a6120462.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-36cde18bda4e4e9abc9fcecdaf24bb2a.html" target="element"> Agente de riesgo PGN </a> </td>
																		<td> <a href="../elements/id-a8178c3ddabc4a6584882fec66b2b199.html" target="element"> Desconocimiento arq. de referencia SUI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0fa28d913a2a443295db9a802a795d17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fa28d913a2a443295db9a802a795d17.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bba56b860154cf09f5f68a06ab5ce8d.html" target="element"> RSG10. Validaci&#243;n decisiones de arquitectura </a> </td>
																		<td> <a href="../elements/id-1c0c54d2b1714f20a218dbe4878b9f31.html" target="element"> Impacto </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>