<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Migracion.2a. datos Hominis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Migracion.2a. datos Hominis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a0d2da66c54a40329bb8fb268e625b5f.png" alt="Migracion.2a. datos Hominis" usemap="#id-a0d2da66c54a40329bb8fb268e625b5fmap"/>
			   <map name="id-a0d2da66c54a40329bb8fb268e625b5fmap">
				  		<area shape="rect" coords="20,716,260,826" href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html"  target="element">
				          <area shape="rect" coords="20,20,478,310" href="../objects/id-fc6fd7bc315d4fcabcd929acda62459b.html" target="element" >
				  				<area shape="rect" coords="710,1188,950,1298" href="../elements/id-8da9176862c3441391167984509450f6.html"  target="element">
				  				<area shape="rect" coords="1010,1188,1250,1298" href="../elements/id-722d5b84cecb4ba49bb9eecc6ef24aaf.html"  target="element">
				  				<area shape="rect" coords="1220,724,1460,834" href="../elements/id-83e195eac7564dc288ca85c30da3dde7.html"  target="element">
				  				<area shape="rect" coords="1220,324,1460,434" href="../elements/id-34b8d7365c2640abb9aa84c665e177a1.html"  target="element">
				  				<area shape="rect" coords="1310,1388,1550,1498" href="../elements/id-4bcbadeaead141588b03969beeb2b8c5.html"  target="element">
				  				<area shape="rect" coords="710,1588,950,1698" href="../elements/id-5213ee83e7b34d4587cbb8011b3a3cbb.html"  target="element">
				  				<area shape="rect" coords="620,324,860,434" href="../elements/id-4541de4033ab4fb1887d63915703abb2.html"  target="element">
				  				<area shape="rect" coords="1010,1788,1250,1898" href="../elements/id-ce5d326b0e7645378f4661e782f5e3de.html"  target="element">
				  				<area shape="rect" coords="620,524,860,634" href="../elements/id-b76280c1799841c5952b5d03a0e8c998.html"  target="element">
				  				<area shape="rect" coords="620,124,860,234" href="../elements/id-11cc635904554f6583f8bd2e4c82d34f.html"  target="element">
				  				<area shape="rect" coords="1010,1388,1250,1498" href="../elements/id-660af6379a1e454a813fa6f6360ebb53.html"  target="element">
				  				<area shape="rect" coords="710,1388,950,1498" href="../elements/id-049234d5389e42beb0e56f811aad2587.html"  target="element">
				  				<area shape="rect" coords="1310,1788,1550,1898" href="../elements/id-190bc3bcf8ed4873b88a6f2750739005.html"  target="element">
				  				<area shape="rect" coords="1220,124,1460,234" href="../elements/id-7668b6f9fcb64c01a9f1b10fc7e95b52.html"  target="element">
				  				<area shape="rect" coords="710,988,950,1098" href="../elements/id-aa37aa6386bb421a8a8911dcfaf3bf26.html"  target="element">
				  				<area shape="rect" coords="1010,1588,1250,1698" href="../elements/id-cd09c4d8e8d649b29bd2a5e8f98bda4a.html"  target="element">
				  				<area shape="rect" coords="920,524,1160,634" href="../elements/id-53e36aad13a54b8093f9169998b4d398.html"  target="element">
				  				<area shape="rect" coords="920,324,1160,434" href="../elements/id-d15aa9a8b29e4103841c7a3ad087f3cb.html"  target="element">
				  				<area shape="rect" coords="1220,524,1460,634" href="../elements/id-58b270049da64e30b2837771578318dc.html"  target="element">

				  		<area shape="rect" coords="524,20,1628,1966" href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Identificaci&#243;n de entidades de datos de negocio relacionadas al m&#243;dulo de gesti&#243;n de capital del SUI, Hominis.

Estas entidades de datos de negocio son los que llamamos los tipos de datos internos del SUI y deben ser consideradas para la creaci&#243;n de las API de manejo del ciclo de vida de los datos de este m&#243;dulo.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>ancho</td><td class="convertlinks no-margin" style="white-space:pre-wrap">5.32</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
											    <td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-58b270049da64e30b2837771578318dc.html" target="element"> DAT.Decreto de la creaci&#243;n </a> </td>
													    <td> <a href="../elements/id-58b270049da64e30b2837771578318dc.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d15aa9a8b29e4103841c7a3ad087f3cb.html" target="element"> DAT.C&#243;digo Jurisdicci&#243;n </a> </td>
													    <td> <a href="../elements/id-d15aa9a8b29e4103841c7a3ad087f3cb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-53e36aad13a54b8093f9169998b4d398.html" target="element"> DAT.C&#243;digo SNIES </a> </td>
													    <td> <a href="../elements/id-53e36aad13a54b8093f9169998b4d398.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cd09c4d8e8d649b29bd2a5e8f98bda4a.html" target="element"> DAT.Nombre Regional </a> </td>
													    <td> <a href="../elements/id-cd09c4d8e8d649b29bd2a5e8f98bda4a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa37aa6386bb421a8a8911dcfaf3bf26.html" target="element"> DAT.Encargo del cargo </a> </td>
													    <td> <a href="../elements/id-aa37aa6386bb421a8a8911dcfaf3bf26.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7668b6f9fcb64c01a9f1b10fc7e95b52.html" target="element"> DAT.C&#243;digo Actuaci&#243;n </a> </td>
													    <td> <a href="../elements/id-7668b6f9fcb64c01a9f1b10fc7e95b52.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-190bc3bcf8ed4873b88a6f2750739005.html" target="element"> DAT.Vinculaci&#243;n </a> </td>
													    <td> <a href="../elements/id-190bc3bcf8ed4873b88a6f2750739005.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-049234d5389e42beb0e56f811aad2587.html" target="element"> DAT.Nivel </a> </td>
													    <td> <a href="../elements/id-049234d5389e42beb0e56f811aad2587.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-660af6379a1e454a813fa6f6360ebb53.html" target="element"> DAT.Nombre Actuaci&#243;n </a> </td>
													    <td> <a href="../elements/id-660af6379a1e454a813fa6f6360ebb53.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-11cc635904554f6583f8bd2e4c82d34f.html" target="element"> DAT.Cargo </a> </td>
													    <td> <a href="../elements/id-11cc635904554f6583f8bd2e4c82d34f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b76280c1799841c5952b5d03a0e8c998.html" target="element"> DAT.C&#243;digo regional </a> </td>
													    <td> <a href="../elements/id-b76280c1799841c5952b5d03a0e8c998.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ce5d326b0e7645378f4661e782f5e3de.html" target="element"> DAT.Tipo de inscripcion </a> </td>
													    <td> <a href="../elements/id-ce5d326b0e7645378f4661e782f5e3de.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4541de4033ab4fb1887d63915703abb2.html" target="element"> DAT.C&#243;digo dependencia superior </a> </td>
													    <td> <a href="../elements/id-4541de4033ab4fb1887d63915703abb2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5213ee83e7b34d4587cbb8011b3a3cbb.html" target="element"> DAT.Nombre Jurisdicci&#243;n </a> </td>
													    <td> <a href="../elements/id-5213ee83e7b34d4587cbb8011b3a3cbb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4bcbadeaead141588b03969beeb2b8c5.html" target="element"> DAT.Nombre dependencia superior </a> </td>
													    <td> <a href="../elements/id-4bcbadeaead141588b03969beeb2b8c5.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-34b8d7365c2640abb9aa84c665e177a1.html" target="element"> DAT.C&#243;digo Regional </a> </td>
													    <td> <a href="../elements/id-34b8d7365c2640abb9aa84c665e177a1.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-83e195eac7564dc288ca85c30da3dde7.html" target="element"> DAT.Diciplina Area </a> </td>
													    <td> <a href="../elements/id-83e195eac7564dc288ca85c30da3dde7.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-722d5b84cecb4ba49bb9eecc6ef24aaf.html" target="element"> DAT.Materia </a> </td>
													    <td> <a href="../elements/id-722d5b84cecb4ba49bb9eecc6ef24aaf.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8da9176862c3441391167984509450f6.html" target="element"> DAT.Ley vigente </a> </td>
													    <td> <a href="../elements/id-8da9176862c3441391167984509450f6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-fc6fd7bc315d4fcabcd929acda62459b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fc6fd7bc315d4fcabcd929acda62459b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
											    <td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ce128dac513c4d7c95cafed0f7e6b2cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce128dac513c4d7c95cafed0f7e6b2cb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-58b270049da64e30b2837771578318dc.html" target="element"> DAT.Decreto de la creaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-664ca41abd774859ad5acb290aeec01b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-664ca41abd774859ad5acb290aeec01b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-d15aa9a8b29e4103841c7a3ad087f3cb.html" target="element"> DAT.C&#243;digo Jurisdicci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eba6c134bfee439f880055526e22d56e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eba6c134bfee439f880055526e22d56e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-53e36aad13a54b8093f9169998b4d398.html" target="element"> DAT.C&#243;digo SNIES </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e77bf77aa4a04a2083e04ec364aa044c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e77bf77aa4a04a2083e04ec364aa044c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-cd09c4d8e8d649b29bd2a5e8f98bda4a.html" target="element"> DAT.Nombre Regional </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b016477580254bcdb62220836e97dca4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b016477580254bcdb62220836e97dca4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-aa37aa6386bb421a8a8911dcfaf3bf26.html" target="element"> DAT.Encargo del cargo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5759ff2f6dc5406bbd8d85063c1938b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5759ff2f6dc5406bbd8d85063c1938b7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-7668b6f9fcb64c01a9f1b10fc7e95b52.html" target="element"> DAT.C&#243;digo Actuaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c67be0227e748b9acdc5816fcf5670e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c67be0227e748b9acdc5816fcf5670e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-190bc3bcf8ed4873b88a6f2750739005.html" target="element"> DAT.Vinculaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3edc0e104c74fac9ab34a98a13e374e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3edc0e104c74fac9ab34a98a13e374e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-049234d5389e42beb0e56f811aad2587.html" target="element"> DAT.Nivel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-67e136ad0ed84a20a5cf6b1f8efc7364.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67e136ad0ed84a20a5cf6b1f8efc7364.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-660af6379a1e454a813fa6f6360ebb53.html" target="element"> DAT.Nombre Actuaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f14e0e4b44564c8a9501ba35fec1f075.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f14e0e4b44564c8a9501ba35fec1f075.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-11cc635904554f6583f8bd2e4c82d34f.html" target="element"> DAT.Cargo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b142bb5aef74326b064b2d802fc5f68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b142bb5aef74326b064b2d802fc5f68.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-b76280c1799841c5952b5d03a0e8c998.html" target="element"> DAT.C&#243;digo regional </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b34be14df04b4263a456a758e19f76d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b34be14df04b4263a456a758e19f76d3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-ce5d326b0e7645378f4661e782f5e3de.html" target="element"> DAT.Tipo de inscripcion </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c0802646a32345e687f2aa34e40deb4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0802646a32345e687f2aa34e40deb4a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-4541de4033ab4fb1887d63915703abb2.html" target="element"> DAT.C&#243;digo dependencia superior </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-46ef5175e05844d2b3ecb55e52c98cd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46ef5175e05844d2b3ecb55e52c98cd8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-5213ee83e7b34d4587cbb8011b3a3cbb.html" target="element"> DAT.Nombre Jurisdicci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-19c483af0cd04e66a50a1b6928faf847.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19c483af0cd04e66a50a1b6928faf847.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-4bcbadeaead141588b03969beeb2b8c5.html" target="element"> DAT.Nombre dependencia superior </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2adbd20e64d14a7f8284d4972a097bd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2adbd20e64d14a7f8284d4972a097bd5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-34b8d7365c2640abb9aa84c665e177a1.html" target="element"> DAT.C&#243;digo Regional </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb0e071b64b5499cbc7ab4544467f3ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb0e071b64b5499cbc7ab4544467f3ce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-83e195eac7564dc288ca85c30da3dde7.html" target="element"> DAT.Diciplina Area </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ae3add8b0b294c7798900cc01c2929fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae3add8b0b294c7798900cc01c2929fd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-722d5b84cecb4ba49bb9eecc6ef24aaf.html" target="element"> DAT.Materia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-04765b5dc4ce4ee08bd533fd0623a5bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04765b5dc4ce4ee08bd533fd0623a5bb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																		<td> <a href="../elements/id-8da9176862c3441391167984509450f6.html" target="element"> DAT.Ley vigente </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-9d07aebe21064ed08695d3128c7440a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d07aebe21064ed08695d3128c7440a2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-4541de4033ab4fb1887d63915703abb2.html" target="element"> DAT.C&#243;digo dependencia superior </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b4bd489812e4f419a557bda145b36e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b4bd489812e4f419a557bda145b36e8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-83e195eac7564dc288ca85c30da3dde7.html" target="element"> DAT.Diciplina Area </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d8143dd0b74543849dac6bdd1aaafcce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d8143dd0b74543849dac6bdd1aaafcce.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-7668b6f9fcb64c01a9f1b10fc7e95b52.html" target="element"> DAT.C&#243;digo Actuaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b6b6f23d2b90430795c2d5102d175aba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6b6f23d2b90430795c2d5102d175aba.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-11cc635904554f6583f8bd2e4c82d34f.html" target="element"> DAT.Cargo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a66f60bca138454d8a56e5b5a213d021.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a66f60bca138454d8a56e5b5a213d021.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-58b270049da64e30b2837771578318dc.html" target="element"> DAT.Decreto de la creaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f996511d020541d68d6f588687d8dd07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f996511d020541d68d6f588687d8dd07.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-b76280c1799841c5952b5d03a0e8c998.html" target="element"> DAT.C&#243;digo regional </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5ebae90348c546f39ca5c23d7b927dd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ebae90348c546f39ca5c23d7b927dd2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-d15aa9a8b29e4103841c7a3ad087f3cb.html" target="element"> DAT.C&#243;digo Jurisdicci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5fe665e87aa4410a9373b1cbec0c62f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5fe665e87aa4410a9373b1cbec0c62f3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-34b8d7365c2640abb9aa84c665e177a1.html" target="element"> DAT.C&#243;digo Regional </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f89afaeae1c40e6893b01763f2da9e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f89afaeae1c40e6893b01763f2da9e9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-53e36aad13a54b8093f9169998b4d398.html" target="element"> DAT.C&#243;digo SNIES </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-daf658b8fdc6449cb494b575a4be88fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-daf658b8fdc6449cb494b575a4be88fa.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-ce5d326b0e7645378f4661e782f5e3de.html" target="element"> DAT.Tipo de inscripcion </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ae019c2711f249848641965e72b3c350.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae019c2711f249848641965e72b3c350.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-190bc3bcf8ed4873b88a6f2750739005.html" target="element"> DAT.Vinculaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5873c3773d04e37adbdd22642e7a9b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5873c3773d04e37adbdd22642e7a9b7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-5213ee83e7b34d4587cbb8011b3a3cbb.html" target="element"> DAT.Nombre Jurisdicci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4831764f955445b1adbd393062473cda.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4831764f955445b1adbd393062473cda.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-049234d5389e42beb0e56f811aad2587.html" target="element"> DAT.Nivel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7978cca04e04f97b5dbee106cf2d620.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7978cca04e04f97b5dbee106cf2d620.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-aa37aa6386bb421a8a8911dcfaf3bf26.html" target="element"> DAT.Encargo del cargo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8467a73de673490a963fb72a13eb9525.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8467a73de673490a963fb72a13eb9525.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-722d5b84cecb4ba49bb9eecc6ef24aaf.html" target="element"> DAT.Materia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3d45a22cffe4fe49c2f7f4f09ddead6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3d45a22cffe4fe49c2f7f4f09ddead6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-8da9176862c3441391167984509450f6.html" target="element"> DAT.Ley vigente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7cd9ce2b2b1147229c639f99feb69f1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cd9ce2b2b1147229c639f99feb69f1c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-cd09c4d8e8d649b29bd2a5e8f98bda4a.html" target="element"> DAT.Nombre Regional </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-511293e59bd54a26a2ea295d38a82a1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-511293e59bd54a26a2ea295d38a82a1e.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-660af6379a1e454a813fa6f6360ebb53.html" target="element"> DAT.Nombre Actuaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59eab18443e945409609b55f9d55f2c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59eab18443e945409609b55f9d55f2c5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-4bcbadeaead141588b03969beeb2b8c5.html" target="element"> DAT.Nombre dependencia superior </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-232cc88108854f8fb14c609f83c874bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-232cc88108854f8fb14c609f83c874bb.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-674af1ecd1984c2ab4c1893aa43ad48f.html" target="element"> APP4.Hominis </a> </td>
																		<td> <a href="../elements/id-12ed2824c4e94968a7641b846b0fa4b9.html" target="element"> Hominis </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>