<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Lineabase.0.SIU applicación</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Lineabase.0.SIU applicaci&#243;n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d1c66332737c4f8294474c4bbd0ebd52.png" alt="Lineabase.0.SIU applicación" usemap="#id-d1c66332737c4f8294474c4bbd0ebd52map"/>
			   <map name="id-d1c66332737c4f8294474c4bbd0ebd52map">
				          <area shape="rect" coords="20,20,622,310" href="../objects/id-2b25ba784b124d0486770f92420a7b22.html" target="element" >
				  		<area shape="rect" coords="788,476,1028,586" href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html"  target="element">
				  		<area shape="rect" coords="44,476,284,586" href="../elements/id-567657fe0911476fb0266f4efa71295b.html"  target="element">
				  		<area shape="rect" coords="452,548,692,658" href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html"  target="element">
				  		<area shape="rect" coords="452,404,692,514" href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html"  target="element">
				  				<area shape="rect" coords="1340,764,1580,874" href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html"  target="element">
				  				<area shape="rect" coords="1196,572,1436,682" href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html"  target="element">

				  		<area shape="rect" coords="1124,452,1702,958" href="../elements/id-ae2a30249ea64ef9bb32122c5f082711.html"  target="element">
				  				<area shape="rect" coords="2132,740,2372,850" href="../elements/id-ac6d42077e3544ae8f7c9d7bd5daf461.html"  target="element">
				  				<area shape="rect" coords="1844,572,2084,682" href="../elements/id-e759a68c6338464093793b86acdf7668.html"  target="element">

				  		<area shape="rect" coords="1796,452,2540,956" href="../elements/id-57f66661f97140a6a4938a70315ad2ed.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Procuradur&#237;a General de la Naci&#243;n, proyecto Migraci&#243;n SIU, 2023, Fase II. L&#237;nea base del sistema &#250;nico de informaci&#243;n (SUI en adelante) de la PGN. Presentaci&#243;n de componentes de software  originales implementados en la Fase I del presente proyecto.


## Representaci&#243;n Arquitect&#243;nica
Con una arquitectura orientada a servicios SUI recopila:

1. Runtime: Es el servicio que interact&#250;a con el usuario final (GUI) elaborado en Angular 11
1. API Tx: Servicio api rest base node encargado de realizar las transacciones b&#225;sicas CRUD
1. API Config / Seguridad. Servicio Web API .Net Framework encargado de gestionar caracter&#237;sticas con la autenticaci&#243;n y configuraci&#243;n

&lt;br&gt;

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>plantilla</td><td class="convertlinks no-margin" style="white-space:pre-wrap">documentation-md-dv</td></tr><tr><td>plantillaElm</td><td class="convertlinks no-margin" style="white-space:pre-wrap">elementtabla-md,element-md-new</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-57f66661f97140a6a4938a70315ad2ed.html" target="element"> Application Collaboration </a> </td>
											    <td> <a href="../elements/id-57f66661f97140a6a4938a70315ad2ed.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e759a68c6338464093793b86acdf7668.html" target="element"> Interfaz de datos 1 </a> </td>
													    <td> <a href="../elements/id-e759a68c6338464093793b86acdf7668.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac6d42077e3544ae8f7c9d7bd5daf461.html" target="element"> Interfaz de datos 2 </a> </td>
													    <td> <a href="../elements/id-ac6d42077e3544ae8f7c9d7bd5daf461.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ae2a30249ea64ef9bb32122c5f082711.html" target="element"> Application Collaboration </a> </td>
											    <td> <a href="../elements/id-ae2a30249ea64ef9bb32122c5f082711.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html" target="element"> App </a> </td>
													    <td> <a href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element"> Config </a> </td>
													    <td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html" target="element"> App PGN M&#243;vil </a> </td>
											    <td> <a href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html" target="element"> App PGN Web </a> </td>
											    <td> <a href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-567657fe0911476fb0266f4efa71295b.html" target="element"> Punto acceso p&#250;blico </a> </td>
											    <td> <a href="../elements/id-567657fe0911476fb0266f4efa71295b.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html" target="element"> Application Service (NLB) </a> </td>
											    <td> <a href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-2b25ba784b124d0486770f92420a7b22.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2b25ba784b124d0486770f92420a7b22.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9a246636df3a46529535c064c96e17a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a246636df3a46529535c064c96e17a6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-57f66661f97140a6a4938a70315ad2ed.html" target="element"> Application Collaboration </a> </td>
																		<td> <a href="../elements/id-e759a68c6338464093793b86acdf7668.html" target="element"> Interfaz de datos 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f42e7889937d4cfea65c4ddcf33e1977.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f42e7889937d4cfea65c4ddcf33e1977.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-57f66661f97140a6a4938a70315ad2ed.html" target="element"> Application Collaboration </a> </td>
																		<td> <a href="../elements/id-ac6d42077e3544ae8f7c9d7bd5daf461.html" target="element"> Interfaz de datos 2 </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0fd7264665d4460da44084aea30ad7da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fd7264665d4460da44084aea30ad7da.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae2a30249ea64ef9bb32122c5f082711.html" target="element"> Application Collaboration </a> </td>
																		<td> <a href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html" target="element"> App </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5cf8c9334c714040833529199b263632.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cf8c9334c714040833529199b263632.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae2a30249ea64ef9bb32122c5f082711.html" target="element"> Application Collaboration </a> </td>
																		<td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element"> Config </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0090e22e6b1e434c8b8f87b2bde1e837.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0090e22e6b1e434c8b8f87b2bde1e837.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html" target="element"> App </a> </td>
																				<td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element"> Config </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-15c7a650194e48d694a2158fadfa68be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-15c7a650194e48d694a2158fadfa68be.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cb37475169d4fe7a11d40fc2eaa23d8.html" target="element"> App </a> </td>
																				<td> <a href="../elements/id-e759a68c6338464093793b86acdf7668.html" target="element"> Interfaz de datos 1 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1ac8c21cb41d471db577a8f5bd18b091.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1ac8c21cb41d471db577a8f5bd18b091.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60a90d494b7f4747a88f33e4e9ebdc97.html" target="element"> Config </a> </td>
																				<td> <a href="../elements/id-ac6d42077e3544ae8f7c9d7bd5daf461.html" target="element"> Interfaz de datos 2 </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d92bda84bd3e4f0bbd4a879b367623b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d92bda84bd3e4f0bbd4a879b367623b5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-567657fe0911476fb0266f4efa71295b.html" target="element"> Punto acceso p&#250;blico </a> </td>
																		<td> <a href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html" target="element"> App PGN M&#243;vil </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-250e8b1c02e546c389b93da55eb55a41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-250e8b1c02e546c389b93da55eb55a41.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-567657fe0911476fb0266f4efa71295b.html" target="element"> Punto acceso p&#250;blico </a> </td>
																		<td> <a href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html" target="element"> App PGN Web </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8d4dcc32e9fc436e8bb00bb257193c74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d4dcc32e9fc436e8bb00bb257193c74.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html" target="element"> Application Service (NLB) </a> </td>
																		<td> <a href="../elements/id-bf045c97cf694ad1afcb5837500cb117.html" target="element"> App PGN Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb82fc053ace49c9bfee8fe6cf3d531a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb82fc053ace49c9bfee8fe6cf3d531a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html" target="element"> Application Service (NLB) </a> </td>
																		<td> <a href="../elements/id-d1a165b5ccff4f9fa7b0ea2b2b2bac73.html" target="element"> App PGN M&#243;vil </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b5ace8262c440fdb6bb30718aeb06dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b5ace8262c440fdb6bb30718aeb06dc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5ffd2095e7344bb5b9023edd9e3d7aa4.html" target="element"> Application Service (NLB) </a> </td>
																		<td> <a href="../elements/id-ae2a30249ea64ef9bb32122c5f082711.html" target="element"> Application Collaboration </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>