<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Seguridad.Doc.1.Datos SUI</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Seguridad.Doc.1.Datos SUI</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-eea5edcc8ccb4c0c96297df2d689d6c2.png" alt="Seguridad.Doc.1.Datos SUI" usemap="#id-eea5edcc8ccb4c0c96297df2d689d6c2map"/>
			   <map name="id-eea5edcc8ccb4c0c96297df2d689d6c2map">
				  		<area shape="rect" coords="938,1050,1178,1160" href="../elements/id-78c9f017cf484d329ff45dd7edcb0446.html"  target="element">
				  		<area shape="rect" coords="332,1100,572,1210" href="../elements/id-0a69b0910ac44fbdb81e3c12def58d60.html"  target="element">
				          <area shape="rect" coords="836,740,1054,900" href="../objects/id-15dc0ff1480e493a9e87385d23548f54.html" target="element" >
				          <area shape="rect" coords="476,1004,718,1070" href="../objects/id-8a888baf4fc14d9e86d5f71e94014461.html" target="element" >
				  				<area shape="rect" coords="764,116,1004,226" href="../elements/id-b65327695fa748138e0f8367062c59df.html"  target="element">
				  				<area shape="rect" coords="452,116,692,226" href="../elements/id-e91abc45ec0e449c80bbd81485038690.html"  target="element">
				  				<area shape="rect" coords="164,116,404,226" href="../elements/id-04f9825d48db42078d4f804a74f35c23.html"  target="element">

				          <area shape="rect" coords="140,20,1054,300" href="../objects/id-f154ab8351844368b25c72e9ffe73ade.html" target="element" >
				          <area shape="rect" coords="20,860,192,942" href="../objects/id-ed60b331df0b48868759fca022fd3819.html" target="element" >
				  				<area shape="rect" coords="356,836,656,946" href="../views/id-5f6183bf4bd84a1da1c33f8273c4c47b.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="308,716,694,982" href="../elements/id-6da872c3a33c4a28b91c8d4a04ab8fb8.html"  target="element">
				  				<area shape="rect" coords="68,476,368,586" href="../views/id-d83ebcb4235c40c4ac68b7f373d4161f.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1004,476,1304,586" href="../views/id-1db65b37e4354099bfc2a83f74cbeb51.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="380,476,680,586" href="../views/id-a0d2da66c54a40329bb8fb268e625b5f.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="692,476,992,586" href="../views/id-6dbb952c4479493fae6f0c7f80e180ed.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="44,356,1414,670" href="../elements/id-e29fde94798b4c9c981ab9424eafbb77.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>devdoc</td><td class="convertlinks no-margin" style="white-space:pre-wrap">04n.1a.datos.md</td></tr><tr><td>rutaMac</td><td class="convertlinks no-margin" style="white-space:pre-wrap">/Users/hwo/Downloads/tmpr/pgnmd/</td></tr><tr><td>alias</td><td class="convertlinks no-margin" style="white-space:pre-wrap">datdoc</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e29fde94798b4c9c981ab9424eafbb77.html" target="element"> Descripci&#243;n de Entidades de Datos Migraci&#243;n SUI PGN </a> </td>
											    <td> <a href="../elements/id-e29fde94798b4c9c981ab9424eafbb77.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-6dbb952c4479493fae6f0c7f80e180ed.html" target="view"> Migracion.2d. datos Control Interno </a> </td>
													    <td> <a href="../views/id-6dbb952c4479493fae6f0c7f80e180ed.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-a0d2da66c54a40329bb8fb268e625b5f.html" target="view"> Migracion.2a. datos Hominis </a> </td>
													    <td> <a href="../views/id-a0d2da66c54a40329bb8fb268e625b5f.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-1db65b37e4354099bfc2a83f74cbeb51.html" target="view"> Migracion.2d. datos SIRI </a> </td>
													    <td> <a href="../views/id-1db65b37e4354099bfc2a83f74cbeb51.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-d83ebcb4235c40c4ac68b7f373d4161f.html" target="view"> Migracion.2. datos </a> </td>
													    <td> <a href="../views/id-d83ebcb4235c40c4ac68b7f373d4161f.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-6da872c3a33c4a28b91c8d4a04ab8fb8.html" target="element"> BD PRD </a> </td>
											    <td> <a href="../elements/id-6da872c3a33c4a28b91c8d4a04ab8fb8.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-5f6183bf4bd84a1da1c33f8273c4c47b.html" target="view"> Migracion.2d. datos SIM </a> </td>
													    <td> <a href="../views/id-5f6183bf4bd84a1da1c33f8273c4c47b.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/id-ed60b331df0b48868759fca022fd3819.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ed60b331df0b48868759fca022fd3819.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f154ab8351844368b25c72e9ffe73ade.html" target="element"> Zona de Procesamiento </a> </td>
									           <td> <a href="../objects/id-f154ab8351844368b25c72e9ffe73ade.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-04f9825d48db42078d4f804a74f35c23.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-04f9825d48db42078d4f804a74f35c23.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e91abc45ec0e449c80bbd81485038690.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-e91abc45ec0e449c80bbd81485038690.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b65327695fa748138e0f8367062c59df.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-b65327695fa748138e0f8367062c59df.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-8a888baf4fc14d9e86d5f71e94014461.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8a888baf4fc14d9e86d5f71e94014461.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-15dc0ff1480e493a9e87385d23548f54.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-15dc0ff1480e493a9e87385d23548f54.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-0a69b0910ac44fbdb81e3c12def58d60.html" target="element"> Gesti&#243;n de funcionarios PGN </a> </td>
											    <td> <a href="../elements/id-0a69b0910ac44fbdb81e3c12def58d60.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-78c9f017cf484d329ff45dd7edcb0446.html" target="element"> Data Object </a> </td>
											    <td> <a href="../elements/id-78c9f017cf484d329ff45dd7edcb0446.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>