<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Organización. 1n.1a. Mapa producto PGN. Relatoría (seguridad)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Organizaci&#243;n. 1n.1a. Mapa producto PGN. Relator&#237;a (seguridad)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e1a40cd4109d4e12af8226d9b063dfb2.png" alt="Organización. 1n.1a. Mapa producto PGN. Relatoría (seguridad)" usemap="#id-e1a40cd4109d4e12af8226d9b063dfb2map"/>
			   <map name="id-e1a40cd4109d4e12af8226d9b063dfb2map">
				  		<area shape="rect" coords="1084,1676,1638,1786" href="../elements/id-ceaca2b0ace544068520cdeedcb0d324.html"  target="element">
				  		<area shape="rect" coords="1642,1556,1916,1666" href="../elements/id-582e78000e60408b8623ae7368f2aac9.html"  target="element">
				  		<area shape="rect" coords="1364,1316,1638,1426" href="../elements/id-ee50dfecf822405db4dd19116e3fc7b4.html"  target="element">
				  		<area shape="rect" coords="1084,1316,1358,1426" href="../elements/id-0d90f6b9a0394dcc9c6f1f907bc8d80d.html"  target="element">
				  		<area shape="rect" coords="1642,836,1916,946" href="../elements/id-203e160d90c94f3f87d577841d0a2c61.html"  target="element">
				  		<area shape="rect" coords="1364,836,1638,946" href="../elements/id-736c95432c8d4d68bb1464e8798cadd7.html"  target="element">
				  		<area shape="rect" coords="1084,836,1358,946" href="../elements/id-1276287dc8804565bb89a8f63c7ddac9.html"  target="element">
				          <area shape="rect" coords="20,20,670,356" href="../objects/id-7e4eab8193bd4014b73e01117ee61834.html" target="element" >
				  		<area shape="rect" coords="1356,188,1630,298" href="../elements/id-5bea5ca9300c405886aab8c3416363bc.html"  target="element">
				  		<area shape="rect" coords="2210,188,2484,298" href="../elements/id-e237d9ad5ea541318a18ecd9d53a993c.html"  target="element">
				  		<area shape="rect" coords="2498,20,2772,130" href="../elements/id-09c02e63af6c4959a88c8db0c3ea43ce.html"  target="element">
				  		<area shape="rect" coords="2210,20,2484,130" href="../elements/id-3e4fd1c474b34675a595416b740c538a.html"  target="element">
				  		<area shape="rect" coords="1922,20,2196,130" href="../elements/id-6fd75059b436446e8a89f93a2f1ea36b.html"  target="element">
				  		<area shape="rect" coords="1642,20,1916,130" href="../elements/id-c48d6d949da6407f98a9d87ba53bc2ea.html"  target="element">
				  		<area shape="rect" coords="1356,20,1630,130" href="../elements/id-1b3ab304b2e3463a862334540714eba7.html"  target="element">
				  		<area shape="rect" coords="1076,20,1350,130" href="../elements/id-45351020abc44f01b553b44e15e2d1ec.html"  target="element">
				  		<area shape="rect" coords="788,20,1062,130" href="../elements/id-ad6a45a217a44661bd90b863991b5ada.html"  target="element">
				  		<area shape="rect" coords="1748,188,2022,298" href="../elements/id-4ab22c4fe261451ea93bdaca03e0be50.html"  target="element">
				  		<area shape="rect" coords="2498,188,2772,298" href="../elements/id-661ab48f09d74bf58d53575982265e3e.html"  target="element">
				  		<area shape="rect" coords="788,188,1062,298" href="../elements/id-935b4723e14d471591c48554d1214212.html"  target="element">
				  		<area shape="rect" coords="1076,1076,1350,1186" href="../elements/id-214390c927a346f495b239171463e173.html"  target="element">
				  		<area shape="rect" coords="1642,1316,1916,1426" href="../elements/id-2cf86dd00aad4d7ea7c69fb4c86b26e0.html"  target="element">
				  		<area shape="rect" coords="1076,1196,1350,1306" href="../elements/id-d0dd9c0700f84cd69fb85c32cf43a623.html"  target="element">
				  		<area shape="rect" coords="1922,1316,2254,1462" href="../elements/id-ecd67e46508547f59761a3a2f7160f6c.html"  target="element">
				  		<area shape="rect" coords="1364,1196,1638,1306" href="../elements/id-42ae2e2497974b4fbfac9e3e1931fcc8.html"  target="element">
				  		<area shape="rect" coords="1642,1436,1916,1546" href="../elements/id-b443e73be317412094f35bb0d3d87eff.html"  target="element">
				  		<area shape="rect" coords="788,1076,1062,1186" href="../elements/id-c21c299f1743475cb6ebbf9837010a8e.html"  target="element">
				  		<area shape="rect" coords="1356,596,1630,706" href="../elements/id-e59d291060d64aa3889aeaaa8fc8950a.html"  target="element">
				  		<area shape="rect" coords="1922,716,2196,826" href="../elements/id-ecce0992c1794a64be6402728517bc9d.html"  target="element">
				  		<area shape="rect" coords="770,356,1332,466" href="../elements/id-631883a6f745474baa0854dc22495180.html"  target="element">
				  		<area shape="rect" coords="1068,476,1630,586" href="../elements/id-c89e87c1bf2a4dbcbca8db649b0bff51.html"  target="element">
				  		<area shape="rect" coords="1642,716,1916,826" href="../elements/id-9f8eab9b716f45e0a2156a0e6ceb06a4.html"  target="element">
				  		<area shape="rect" coords="1642,596,1916,706" href="../elements/id-d59dc522330e44f5a2f0c996e9603913.html"  target="element">
				  				<area shape="rect" coords="380,1124,620,1234" href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html"  target="element">
				  				<area shape="rect" coords="380,812,620,922" href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html"  target="element">
				  				<area shape="rect" coords="50,646,324,756" href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html"  target="element">
				  				<area shape="rect" coords="380,980,620,1090" href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html"  target="element">
				  				<area shape="rect" coords="68,500,308,610" href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html"  target="element">

				  		<area shape="rect" coords="20,428,670,1270" href="../elements/id-2a2fa7443e34433880e94f897e75d453.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
											    <td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element"> Hitos mercado </a> </td>
													    <td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
													    <td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
													    <td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
													    <td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element"> Deliverable: (tiempo) </a> </td>
													    <td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d59dc522330e44f5a2f0c996e9603913.html" target="element"> Indexaci&#243;n </a> </td>
											    <td> <a href="../elements/id-d59dc522330e44f5a2f0c996e9603913.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9f8eab9b716f45e0a2156a0e6ceb06a4.html" target="element"> Contenidos </a> </td>
											    <td> <a href="../elements/id-9f8eab9b716f45e0a2156a0e6ceb06a4.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c89e87c1bf2a4dbcbca8db649b0bff51.html" target="element"> Recolecci&#243;n </a> </td>
											    <td> <a href="../elements/id-c89e87c1bf2a4dbcbca8db649b0bff51.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-631883a6f745474baa0854dc22495180.html" target="element"> B&#250;squeda </a> </td>
											    <td> <a href="../elements/id-631883a6f745474baa0854dc22495180.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ecce0992c1794a64be6402728517bc9d.html" target="element"> Sincronizaci&#243;n (actualizcn) </a> </td>
											    <td> <a href="../elements/id-ecce0992c1794a64be6402728517bc9d.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e59d291060d64aa3889aeaaa8fc8950a.html" target="element"> Descripci&#243;n (metatada) </a> </td>
											    <td> <a href="../elements/id-e59d291060d64aa3889aeaaa8fc8950a.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c21c299f1743475cb6ebbf9837010a8e.html" target="element"> Funcionalidades de b&#250;squeda </a> </td>
											    <td> <a href="../elements/id-c21c299f1743475cb6ebbf9837010a8e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b443e73be317412094f35bb0d3d87eff.html" target="element"> Proceso de organizaci&#243;n de contenidos </a> </td>
											    <td> <a href="../elements/id-b443e73be317412094f35bb0d3d87eff.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-42ae2e2497974b4fbfac9e3e1931fcc8.html" target="element"> Funcionalidades de descripci&#243;n de contenidos </a> </td>
											    <td> <a href="../elements/id-42ae2e2497974b4fbfac9e3e1931fcc8.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ecd67e46508547f59761a3a2f7160f6c.html" target="element"> Proceso de sincronizaci&#243;n autom&#225;tica de contenidos </a> </td>
											    <td> <a href="../elements/id-ecd67e46508547f59761a3a2f7160f6c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0dd9c0700f84cd69fb85c32cf43a623.html" target="element"> Proceso de recolecci&#243;n de contenidos </a> </td>
											    <td> <a href="../elements/id-d0dd9c0700f84cd69fb85c32cf43a623.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2cf86dd00aad4d7ea7c69fb4c86b26e0.html" target="element"> Administraci&#243;n de contenidos </a> </td>
											    <td> <a href="../elements/id-2cf86dd00aad4d7ea7c69fb4c86b26e0.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-214390c927a346f495b239171463e173.html" target="element"> Motor de b&#250;squeda </a> </td>
											    <td> <a href="../elements/id-214390c927a346f495b239171463e173.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-935b4723e14d471591c48554d1214212.html" target="element"> B&#250;squeda de contenidos. Relator&#237;a v0.1 </a> </td>
											    <td> <a href="../elements/id-935b4723e14d471591c48554d1214212.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-661ab48f09d74bf58d53575982265e3e.html" target="element"> Adopci&#243;n, v1.2 </a> </td>
											    <td> <a href="../elements/id-661ab48f09d74bf58d53575982265e3e.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4ab22c4fe261451ea93bdaca03e0be50.html" target="element"> Gesti&#243;n contenidos. Rltr&#237;a v1.0 </a> </td>
											    <td> <a href="../elements/id-4ab22c4fe261451ea93bdaca03e0be50.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad6a45a217a44661bd90b863991b5ada.html" target="element"> rel.Iteraci&#243;n 1 </a> </td>
											    <td> <a href="../elements/id-ad6a45a217a44661bd90b863991b5ada.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-45351020abc44f01b553b44e15e2d1ec.html" target="element"> Iteraci&#243;n 2 </a> </td>
											    <td> <a href="../elements/id-45351020abc44f01b553b44e15e2d1ec.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b3ab304b2e3463a862334540714eba7.html" target="element"> Iteraci&#243;n 3 </a> </td>
											    <td> <a href="../elements/id-1b3ab304b2e3463a862334540714eba7.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c48d6d949da6407f98a9d87ba53bc2ea.html" target="element"> Iteraci&#243;n 4 </a> </td>
											    <td> <a href="../elements/id-c48d6d949da6407f98a9d87ba53bc2ea.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6fd75059b436446e8a89f93a2f1ea36b.html" target="element"> Iteraci&#243;n 5 </a> </td>
											    <td> <a href="../elements/id-6fd75059b436446e8a89f93a2f1ea36b.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e4fd1c474b34675a595416b740c538a.html" target="element"> Iteraci&#243;n 6 </a> </td>
											    <td> <a href="../elements/id-3e4fd1c474b34675a595416b740c538a.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-09c02e63af6c4959a88c8db0c3ea43ce.html" target="element"> Iteraci&#243;n 7 </a> </td>
											    <td> <a href="../elements/id-09c02e63af6c4959a88c8db0c3ea43ce.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e237d9ad5ea541318a18ecd9d53a993c.html" target="element"> Despliegue Relator&#237;a v1.2 </a> </td>
											    <td> <a href="../elements/id-e237d9ad5ea541318a18ecd9d53a993c.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5bea5ca9300c405886aab8c3416363bc.html" target="element"> Organizaci&#243;n contenidos. Rltr&#237;a v0.5 </a> </td>
											    <td> <a href="../elements/id-5bea5ca9300c405886aab8c3416363bc.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-7e4eab8193bd4014b73e01117ee61834.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7e4eab8193bd4014b73e01117ee61834.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-1276287dc8804565bb89a8f63c7ddac9.html" target="element"> Autenticaci&#243;n </a> </td>
											    <td> <a href="../elements/id-1276287dc8804565bb89a8f63c7ddac9.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736c95432c8d4d68bb1464e8798cadd7.html" target="element"> Autorizaci&#243;n </a> </td>
											    <td> <a href="../elements/id-736c95432c8d4d68bb1464e8798cadd7.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-203e160d90c94f3f87d577841d0a2c61.html" target="element"> Integridad </a> </td>
											    <td> <a href="../elements/id-203e160d90c94f3f87d577841d0a2c61.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d90f6b9a0394dcc9c6f1f907bc8d80d.html" target="element"> Componente de autenticaci&#243;n SIU </a> </td>
											    <td> <a href="../elements/id-0d90f6b9a0394dcc9c6f1f907bc8d80d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee50dfecf822405db4dd19116e3fc7b4.html" target="element"> Componente de autorizaci&#243;n SIU </a> </td>
											    <td> <a href="../elements/id-ee50dfecf822405db4dd19116e3fc7b4.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-582e78000e60408b8623ae7368f2aac9.html" target="element"> Componente de  comunicaci&#243;n segura SIU </a> </td>
											    <td> <a href="../elements/id-582e78000e60408b8623ae7368f2aac9.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ceaca2b0ace544068520cdeedcb0d324.html" target="element"> Integraci&#243;n API CMS </a> </td>
											    <td> <a href="../elements/id-ceaca2b0ace544068520cdeedcb0d324.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-70374170d8034734bfc3935e37663ae4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70374170d8034734bfc3935e37663ae4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element"> Hitos mercado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-01647cc9611443d4b6560350ae121e3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01647cc9611443d4b6560350ae121e3d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd0dbd1bc258471eb6cd9fbd0be6bf4d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd0dbd1bc258471eb6cd9fbd0be6bf4d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a33d8c728634429b6edc179f6930238.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a33d8c728634429b6edc179f6930238.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c279c61a2004c1d8ebfafa98b7c4a3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c279c61a2004c1d8ebfafa98b7c4a3e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a2fa7443e34433880e94f897e75d453.html" target="element"> Hoja ruta del producto </a> </td>
																		<td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element"> Deliverable: (tiempo) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-343f93f73aa045aab8142e798b196a3a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-343f93f73aa045aab8142e798b196a3a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
																				<td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-74befda8ee304433913f9c4a89d7cac1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74befda8ee304433913f9c4a89d7cac1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-57e7ad14b63e484c86483bfbdf7c5b6a.html" target="element"> Iteraci&#243;n </a> </td>
																				<td> <a href="../elements/id-a373be34f6c44e0ca1e5609a6f82f5fd.html" target="element"> Deliverable: (tiempo) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-416b841c639d458daf234e04adf1998b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-416b841c639d458daf234e04adf1998b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
																				<td> <a href="../elements/id-0abdfa66adf34137a0cf48045b50179e.html" target="element"> Hitos mercado </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a76dea6c04c144d2ae0d087b95207db6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a76dea6c04c144d2ae0d087b95207db6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2b62974f7f7245589f7d360e897c4da1.html" target="element"> &#201;picas </a> </td>
																				<td> <a href="../elements/id-a99ebc7a9a4549dbb67fc7bcb60b93f5.html" target="element"> Caracter&#237;sticas </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b41c4bf9791b4fae90b4795ccf36e330.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b41c4bf9791b4fae90b4795ccf36e330.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d59dc522330e44f5a2f0c996e9603913.html" target="element"> Indexaci&#243;n </a> </td>
																		<td> <a href="../elements/id-4ab22c4fe261451ea93bdaca03e0be50.html" target="element"> Gesti&#243;n contenidos. Rltr&#237;a v1.0 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a68eed71362e4c54aff6687dc56b79ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a68eed71362e4c54aff6687dc56b79ab.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9f8eab9b716f45e0a2156a0e6ceb06a4.html" target="element"> Contenidos </a> </td>
																		<td> <a href="../elements/id-4ab22c4fe261451ea93bdaca03e0be50.html" target="element"> Gesti&#243;n contenidos. Rltr&#237;a v1.0 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ded6164e43654572811e668cab1b4cd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ded6164e43654572811e668cab1b4cd7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c89e87c1bf2a4dbcbca8db649b0bff51.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-5bea5ca9300c405886aab8c3416363bc.html" target="element"> Organizaci&#243;n contenidos. Rltr&#237;a v0.5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-660a8d0234b14ec1a47c6ba55e432a1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-660a8d0234b14ec1a47c6ba55e432a1a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-631883a6f745474baa0854dc22495180.html" target="element"> B&#250;squeda </a> </td>
																		<td> <a href="../elements/id-935b4723e14d471591c48554d1214212.html" target="element"> B&#250;squeda de contenidos. Relator&#237;a v0.1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c72a0ed952394b489b5ce6d9682a04f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c72a0ed952394b489b5ce6d9682a04f8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ecce0992c1794a64be6402728517bc9d.html" target="element"> Sincronizaci&#243;n (actualizcn) </a> </td>
																		<td> <a href="../elements/id-4ab22c4fe261451ea93bdaca03e0be50.html" target="element"> Gesti&#243;n contenidos. Rltr&#237;a v1.0 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-419788b699914221b3eaf6bcffe0f247.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-419788b699914221b3eaf6bcffe0f247.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e59d291060d64aa3889aeaaa8fc8950a.html" target="element"> Descripci&#243;n (metatada) </a> </td>
																		<td> <a href="../elements/id-5bea5ca9300c405886aab8c3416363bc.html" target="element"> Organizaci&#243;n contenidos. Rltr&#237;a v0.5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2c3ec8eda0f54ae48fc7430ada784db9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c3ec8eda0f54ae48fc7430ada784db9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c21c299f1743475cb6ebbf9837010a8e.html" target="element"> Funcionalidades de b&#250;squeda </a> </td>
																		<td> <a href="../elements/id-631883a6f745474baa0854dc22495180.html" target="element"> B&#250;squeda </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-857bb0d6fef74b5f815a74f313624624.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-857bb0d6fef74b5f815a74f313624624.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b443e73be317412094f35bb0d3d87eff.html" target="element"> Proceso de organizaci&#243;n de contenidos </a> </td>
																		<td> <a href="../elements/id-d59dc522330e44f5a2f0c996e9603913.html" target="element"> Indexaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e7bf3c4d6c1446778796981971edd3c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7bf3c4d6c1446778796981971edd3c9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42ae2e2497974b4fbfac9e3e1931fcc8.html" target="element"> Funcionalidades de descripci&#243;n de contenidos </a> </td>
																		<td> <a href="../elements/id-e59d291060d64aa3889aeaaa8fc8950a.html" target="element"> Descripci&#243;n (metatada) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e1fff29c89de40439ff57a1086d19c1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1fff29c89de40439ff57a1086d19c1d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ecd67e46508547f59761a3a2f7160f6c.html" target="element"> Proceso de sincronizaci&#243;n autom&#225;tica de contenidos </a> </td>
																		<td> <a href="../elements/id-ecce0992c1794a64be6402728517bc9d.html" target="element"> Sincronizaci&#243;n (actualizcn) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-defb647201d34045b4c5b75199e99caa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-defb647201d34045b4c5b75199e99caa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0dd9c0700f84cd69fb85c32cf43a623.html" target="element"> Proceso de recolecci&#243;n de contenidos </a> </td>
																		<td> <a href="../elements/id-c89e87c1bf2a4dbcbca8db649b0bff51.html" target="element"> Recolecci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-394136f800b04933a3aff16598f9186a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-394136f800b04933a3aff16598f9186a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2cf86dd00aad4d7ea7c69fb4c86b26e0.html" target="element"> Administraci&#243;n de contenidos </a> </td>
																		<td> <a href="../elements/id-9f8eab9b716f45e0a2156a0e6ceb06a4.html" target="element"> Contenidos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5ff5babe98774dcb93c063edcd2bf68a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ff5babe98774dcb93c063edcd2bf68a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-214390c927a346f495b239171463e173.html" target="element"> Motor de b&#250;squeda </a> </td>
																		<td> <a href="../elements/id-631883a6f745474baa0854dc22495180.html" target="element"> B&#250;squeda </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-5606c38ad7104db0a59d5d7ee8169756.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5606c38ad7104db0a59d5d7ee8169756.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d90f6b9a0394dcc9c6f1f907bc8d80d.html" target="element"> Componente de autenticaci&#243;n SIU </a> </td>
																		<td> <a href="../elements/id-1276287dc8804565bb89a8f63c7ddac9.html" target="element"> Autenticaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-989eebd526d1451e914f654366bcfab5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-989eebd526d1451e914f654366bcfab5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ee50dfecf822405db4dd19116e3fc7b4.html" target="element"> Componente de autorizaci&#243;n SIU </a> </td>
																		<td> <a href="../elements/id-736c95432c8d4d68bb1464e8798cadd7.html" target="element"> Autorizaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a5804bdd56d4451b9648813a2a8577d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5804bdd56d4451b9648813a2a8577d9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-582e78000e60408b8623ae7368f2aac9.html" target="element"> Componente de  comunicaci&#243;n segura SIU </a> </td>
																		<td> <a href="../elements/id-203e160d90c94f3f87d577841d0a2c61.html" target="element"> Integridad </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e4524eaf683425a84c9da588d3f34a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e4524eaf683425a84c9da588d3f34a0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ceaca2b0ace544068520cdeedcb0d324.html" target="element"> Integraci&#243;n API CMS </a> </td>
																		<td> <a href="../elements/id-c89e87c1bf2a4dbcbca8db649b0bff51.html" target="element"> Recolecci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a0335708ed54d0a89f8a7e31e031cef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a0335708ed54d0a89f8a7e31e031cef.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ceaca2b0ace544068520cdeedcb0d324.html" target="element"> Integraci&#243;n API CMS </a> </td>
																		<td> <a href="../elements/id-e59d291060d64aa3889aeaaa8fc8950a.html" target="element"> Descripci&#243;n (metatada) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a9138e8d2e844fc3ba78a1a3835d4b54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9138e8d2e844fc3ba78a1a3835d4b54.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ceaca2b0ace544068520cdeedcb0d324.html" target="element"> Integraci&#243;n API CMS </a> </td>
																		<td> <a href="../elements/id-d59dc522330e44f5a2f0c996e9603913.html" target="element"> Indexaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc77e8db6f2e4339a6a7e39778f02b97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc77e8db6f2e4339a6a7e39778f02b97.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ceaca2b0ace544068520cdeedcb0d324.html" target="element"> Integraci&#243;n API CMS </a> </td>
																		<td> <a href="../elements/id-9f8eab9b716f45e0a2156a0e6ceb06a4.html" target="element"> Contenidos </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>