<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Migracion.1a.SIU módulos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Migracion.1a.SIU m&#243;dulos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f3f3865c516245bfb2d777de5b23efb6.png" alt="Migracion.1a.SIU módulos" usemap="#id-f3f3865c516245bfb2d777de5b23efb6map"/>
			   <map name="id-f3f3865c516245bfb2d777de5b23efb6map">
				  		<area shape="rect" coords="20,878,214,988" href="../elements/id-44e7f6e11b4f4bcdbe82f13570661423.html"  target="element">
				  		<area shape="rect" coords="20,542,214,652" href="../elements/id-19766e7dd9c24fa69abc5acff785fc85.html"  target="element">
				  		<area shape="rect" coords="2012,656,2324,766" href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html"  target="element">
				          <area shape="rect" coords="20,20,454,284" href="../objects/id-293089e205a748388d95bb4d1ec2920b.html" target="element" >
				  		<area shape="rect" coords="788,536,980,646" href="../elements/id-5d9d1022e676411fb0ea9015457493fc.html"  target="element">
				  		<area shape="rect" coords="788,704,980,814" href="../elements/id-878aba926a3843c2a1d7330a5fc35e1f.html"  target="element">
				  		<area shape="rect" coords="788,872,980,982" href="../elements/id-64b6c54d6037425dafce4fcc1eec99c3.html"  target="element">
				  		<area shape="rect" coords="1148,704,1342,814" href="../elements/id-e9e9de0431f3499f8d73621862aee6ad.html"  target="element">
				  		<area shape="rect" coords="1148,872,1342,982" href="../elements/id-aaa11035d9fe4eb6a18d81e3e56c323a.html"  target="element">
				  		<area shape="rect" coords="1530,878,1844,988" href="../elements/id-756a454a4cfc41bd8fe2246808d66caa.html"  target="element">
				  		<area shape="rect" coords="1530,710,1844,820" href="../elements/id-098d16be4183426e816b8ad2714c11cc.html"  target="element">
				  		<area shape="rect" coords="284,878,596,988" href="../elements/id-9c5bfbac3d1c488e99526a82bc226418.html"  target="element">
				  		<area shape="rect" coords="284,710,596,820" href="../elements/id-f4a8480d350b465588e0254439d74721.html"  target="element">
				  		<area shape="rect" coords="932,464,1206,1066" href="../elements/id-c7b52dad823d406fbd54979c21119276.html"  target="element">
				  		<area shape="rect" coords="284,542,596,652" href="../elements/id-7bb19cd0772841c68376195262968b5b.html"  target="element">
				  		<area shape="rect" coords="1532,254,1844,364" href="../elements/id-4a97e869741c4a55bdc624b353998183.html"  target="element">
				  		<area shape="rect" coords="2012,782,2324,892" href="../elements/id-a0097063bb3f4f5e90618feb7903f3ef.html"  target="element">
				  		<area shape="rect" coords="1532,374,1844,484" href="../elements/id-d0acf86af4914e7daeccb271790dc39b.html"  target="element">
				  		<area shape="rect" coords="284,374,596,484" href="../elements/id-2485a6afd4454a8aae32e6d87b38a045.html"  target="element">
				  		<area shape="rect" coords="1532,134,1844,244" href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Identificaci&#243;n de subm&#243;dulos del Sistema &#218;nico de Informaci&#243;n (SUI) de la PGN. 

Todos los sistemas de informaci&#243;n del SUI deben seguir la directiva de separar a los compontentes misionales de los utilitarior: el SUI de PGN estar&#225; constitu&#237;dos por subm&#243;dulos dispuestos en relaci&#243;n de utilitarios (que sirven) a los componentes misionales del SUI, ubicados en el centro en la diagrama.

Los subm&#243;dulos del SUI, tal como est&#225;n presentados, re&#250;nen a las partes por el mismo rol en favor de la coherencia. Por ejemplo, los servicios de aplicaci&#243;n, en la imagen, contiene a todos aquellos utilitarios que prestan alguna utilidad moment&#225;nea al SUI migrado. Organizados as&#237;, estos subm&#243;dulos utilitarios pueden ser intercambiados o ampliados sin perjuicio de los componentes misionales dell SUI (centro del diagrama) gracias a las _interfaces de uni&#243;n_ en favor de la extensibilidad.

Las interfaces de uni&#243;n indicadas arriba obligan a los subm&#243;dulos a cumplir las exigencias de los componentes misionales del SUI.

Los subm&#243;dulos identificados tienen los siguientes roles para el SUI migrado:

1. cc:Presentaci&#243;n
1. cc:Servicios de aplicaci&#243;n
1. cc:Portales y canales
1. cc:Administraci&#243;n y configuraci&#243;n
1. cc:Almacenamiento

### Requerimientos Asociados a los Subm&#243;dulos
La disposici&#243;n de los m&#243;dulos y subm&#243;dulos presentada, denominada SUI Migraci&#243;n en adelante, facilita la focalizaci&#243;n de los requerimientos encontrados en el levantamiento realizado en el actual proyecto. As&#237;, por ejemplo, los requerimientos funcionales se encuentran concentrados en el subm&#243;dulo de presentaci&#243;n (ver imagen).
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>plataforma</td><td class="convertlinks no-margin" style="white-space:pre-wrap">js</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
											    <td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2485a6afd4454a8aae32e6d87b38a045.html" target="element"> RQR. Funcionales </a> </td>
											    <td> <a href="../elements/id-2485a6afd4454a8aae32e6d87b38a045.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0acf86af4914e7daeccb271790dc39b.html" target="element"> RQR. Ingenier&#237;a </a> </td>
											    <td> <a href="../elements/id-d0acf86af4914e7daeccb271790dc39b.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0097063bb3f4f5e90618feb7903f3ef.html" target="element"> RQR. Administrativos </a> </td>
											    <td> <a href="../elements/id-a0097063bb3f4f5e90618feb7903f3ef.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a97e869741c4a55bdc624b353998183.html" target="element"> RQR. Misionales </a> </td>
											    <td> <a href="../elements/id-4a97e869741c4a55bdc624b353998183.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7bb19cd0772841c68376195262968b5b.html" target="element"> cc:Presentaci&#243;n </a> </td>
											    <td> <a href="../elements/id-7bb19cd0772841c68376195262968b5b.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element"> cc:PGN SUI (misional) </a> </td>
											    <td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4a8480d350b465588e0254439d74721.html" target="element"> cc:Servicios de aplicaci&#243;n </a> </td>
											    <td> <a href="../elements/id-f4a8480d350b465588e0254439d74721.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c5bfbac3d1c488e99526a82bc226418.html" target="element"> cc:Portales y canales </a> </td>
											    <td> <a href="../elements/id-9c5bfbac3d1c488e99526a82bc226418.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-098d16be4183426e816b8ad2714c11cc.html" target="element"> cc:Administraci&#243;n </a> </td>
											    <td> <a href="../elements/id-098d16be4183426e816b8ad2714c11cc.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-756a454a4cfc41bd8fe2246808d66caa.html" target="element"> cc:Almacenamiento </a> </td>
											    <td> <a href="../elements/id-756a454a4cfc41bd8fe2246808d66caa.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aaa11035d9fe4eb6a18d81e3e56c323a.html" target="element"> interfaz </a> </td>
											    <td> <a href="../elements/id-aaa11035d9fe4eb6a18d81e3e56c323a.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e9e9de0431f3499f8d73621862aee6ad.html" target="element"> interfaz </a> </td>
											    <td> <a href="../elements/id-e9e9de0431f3499f8d73621862aee6ad.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-64b6c54d6037425dafce4fcc1eec99c3.html" target="element"> interfaz </a> </td>
											    <td> <a href="../elements/id-64b6c54d6037425dafce4fcc1eec99c3.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-878aba926a3843c2a1d7330a5fc35e1f.html" target="element"> interfaz </a> </td>
											    <td> <a href="../elements/id-878aba926a3843c2a1d7330a5fc35e1f.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d9d1022e676411fb0ea9015457493fc.html" target="element"> interfaz </a> </td>
											    <td> <a href="../elements/id-5d9d1022e676411fb0ea9015457493fc.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-293089e205a748388d95bb4d1ec2920b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-293089e205a748388d95bb4d1ec2920b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
											    <td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-19766e7dd9c24fa69abc5acff785fc85.html" target="element"> Funcionario PGN </a> </td>
											    <td> <a href="../elements/id-19766e7dd9c24fa69abc5acff785fc85.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-44e7f6e11b4f4bcdbe82f13570661423.html" target="element"> Cliente PGN </a> </td>
											    <td> <a href="../elements/id-44e7f6e11b4f4bcdbe82f13570661423.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-298d03e40cba492b946eae3b215d788b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-298d03e40cba492b946eae3b215d788b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element"> cc:PGN SUI (misional) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-25fccc784ce646cbb46cb259bbd3afba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-25fccc784ce646cbb46cb259bbd3afba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2485a6afd4454a8aae32e6d87b38a045.html" target="element"> RQR. Funcionales </a> </td>
																		<td> <a href="../elements/id-7bb19cd0772841c68376195262968b5b.html" target="element"> cc:Presentaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5d3d723909da4d29b1e419aed5a80f84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d3d723909da4d29b1e419aed5a80f84.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0acf86af4914e7daeccb271790dc39b.html" target="element"> RQR. Ingenier&#237;a </a> </td>
																		<td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element"> cc:PGN SUI (misional) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-69badbef87864d9e8efb6426a39b8194.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69badbef87864d9e8efb6426a39b8194.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0097063bb3f4f5e90618feb7903f3ef.html" target="element"> RQR. Administrativos </a> </td>
																		<td> <a href="../elements/id-098d16be4183426e816b8ad2714c11cc.html" target="element"> cc:Administraci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8b1901f6e08b41f0927143f4dd55f4da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b1901f6e08b41f0927143f4dd55f4da.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a97e869741c4a55bdc624b353998183.html" target="element"> RQR. Misionales </a> </td>
																		<td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element"> cc:PGN SUI (misional) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-298944c07c4244db92bc9f174115a45a.html" target="element"> sirve </a> </td>
																		<td> <a href="../elements/id-298944c07c4244db92bc9f174115a45a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7bb19cd0772841c68376195262968b5b.html" target="element"> cc:Presentaci&#243;n </a> </td>
																		<td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element"> cc:PGN SUI (misional) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-923f0dced84f4f43adbebacb8a356877.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-923f0dced84f4f43adbebacb8a356877.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f4a8480d350b465588e0254439d74721.html" target="element"> cc:Servicios de aplicaci&#243;n </a> </td>
																		<td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element"> cc:PGN SUI (misional) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-568af273b6734cb3aa3106f3ca912789.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-568af273b6734cb3aa3106f3ca912789.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c5bfbac3d1c488e99526a82bc226418.html" target="element"> cc:Portales y canales </a> </td>
																		<td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element"> cc:PGN SUI (misional) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-90b08224106a45aaa71f10bcc9aaffde.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90b08224106a45aaa71f10bcc9aaffde.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-098d16be4183426e816b8ad2714c11cc.html" target="element"> cc:Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element"> cc:PGN SUI (misional) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f6765cc6f65144059e5dcddcf311f129.html" target="element"> sirve </a> </td>
																		<td> <a href="../elements/id-f6765cc6f65144059e5dcddcf311f129.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-756a454a4cfc41bd8fe2246808d66caa.html" target="element"> cc:Almacenamiento </a> </td>
																		<td> <a href="../elements/id-c7b52dad823d406fbd54979c21119276.html" target="element"> cc:PGN SUI (misional) </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-1bf49928b14747d99ede1b0808b366ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1bf49928b14747d99ede1b0808b366ba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27c508d3d5ce4d90bf4cbe4c3b51b41b.html" target="element"> RQR. Seguridad </a> </td>
																		<td> <a href="../elements/id-098d16be4183426e816b8ad2714c11cc.html" target="element"> cc:Administraci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-11e1a87188d54ccda45895023ed4b309.html" target="element"> usa </a> </td>
																		<td> <a href="../elements/id-11e1a87188d54ccda45895023ed4b309.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19766e7dd9c24fa69abc5acff785fc85.html" target="element"> Funcionario PGN </a> </td>
																		<td> <a href="../elements/id-7bb19cd0772841c68376195262968b5b.html" target="element"> cc:Presentaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-923eab99ba0c406d8a7cb2bcf63ef2c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-923eab99ba0c406d8a7cb2bcf63ef2c2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-44e7f6e11b4f4bcdbe82f13570661423.html" target="element"> Cliente PGN </a> </td>
																		<td> <a href="../elements/id-9c5bfbac3d1c488e99526a82bc226418.html" target="element"> cc:Portales y canales </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>